In [41]:
import numpy as np

In [42]:
a=[1,2,3,4,5,6]
a

[1, 2, 3, 4, 5, 6]

In [43]:
type(a)

list

In [44]:
len(a)

6

In [45]:
a=[i**2 for i in a]
a

[1, 4, 9, 16, 25, 36]

In [46]:
l=[]
for i in a:
    l.append(i**2)
l

[1, 16, 81, 256, 625, 1296]

In [47]:
a=np.array([1,2,3,4,5])
a

array([1, 2, 3, 4, 5])

In [48]:
type(a)

numpy.ndarray

In [49]:
a

array([1, 2, 3, 4, 5])

In [50]:
a**2

array([ 1,  4,  9, 16, 25])

In [51]:
a*10

array([10, 20, 30, 40, 50])

In [52]:
a=range(10000)
a

range(0, 10000)

In [55]:
for i in a:
    print(i,end="")

01234567891011121314151617181920212223242526272829303132333435363738394041424344454647484950515253545556575859606162636465666768697071727374757677787980818283848586878889909192939495969798991001011021031041051061071081091101111121131141151161171181191201211221231241251261271281291301311321331341351361371381391401411421431441451461471481491501511521531541551561571581591601611621631641651661671681691701711721731741751761771781791801811821831841851861871881891901911921931941951961971981992002012022032042052062072082092102112122132142152162172182192202212222232242252262272282292302312322332342352362372382392402412422432442452462472482492502512522532542552562572582592602612622632642652662672682692702712722732742752762772782792802812822832842852862872882892902912922932942952962972982993003013023033043053063073083093103113123133143153163173183193203213223233243253263273283293303313323333343353363373383393403413423433443453463473483493503513523533543553563573583593603613623633643653663673683693703713723733743753763773783793803813823833843853863873883893903913923933943953963973983994004014024034044054064074084094104114124134144154164174184194204214224234244254264274284294304314324334344354364374384394404414424434444454464474484494504514524534544554564574584594604614624634644654664674684694704714724734744754764774784794804814824834844854864874884894904914924934944954964974984995005015025035045055065075085095105115125135145155165175185195205215225235245255265275285295305315325335345355365375385395405415425435445455465475485495505515525535545555565575585595605615625635645655665675685695705715725735745755765775785795805815825835845855865875885895905915925935945955965975985996006016026036046056066076086096106116126136146156166176186196206216226236246256266276286296306316326336346356366376386396406416426436446456466476486496506516526536546556566576586596606616626636646656666676686696706716726736746756766776786796806816826836846856866876886896906916926936946956966976986997007017027037047057067077087097107117127137147157167177187197207217227237247257267277287297307317327337347357367377387397407417427437447457467477487497507517527537547557567577587597607617627637647657667677687697707717727737747757767777787797807817827837847857867877887897907917927937947957967977987998008018028038048058068078088098108118128138148158168178188198208218228238248258268278288298308318328338348358368378388398408418428438448458468478488498508518528538548558568578588598608618628638648658668678688698708718728738748758768778788798808818828838848858868878888898908918928938948958968978988999009019029039049059069079089099109119129139149159169179189199209219229239249259269279289299309319329339349359369379389399409419429439449459469479489499509519529539549559569579589599609619629639649659669679689699709719729739749759769779789799809819829839849859869879889899909919929939949959969979989991000100110021003100410051006100710081009101010111012101310141015101610171018101910201021102210231024102510261027102810291030103110321033103410351036103710381039104010411042104310441045104610471048104910501051105210531054105510561057105810591060106110621063106410651066106710681069107010711072107310741075107610771078107910801081108210831084108510861087108810891090109110921093109410951096109710981099110011011102110311041105110611071108110911101111111211131114111511161117111811191120112111221123112411251126112711281129113011311132113311341135113611371138113911401141114211431144114511461147114811491150115111521153115411551156115711581159116011611162116311641165116611671168116911701171117211731174117511761177117811791180118111821183118411851186118711881189119011911192119311941195119611971198119912001201120212031204120512061207120812091210121112121213121412151216121712181219122012211222122312241225122612271228122912301231123212331234123512361237123812391240124112421243124412451246124712481249125012511252125312541255125612571258125912601261126212631264126512661267126812691270127112721273127412751276127712781279128012811282128312841285128612871288128912901291129212931294129512961297129812991300130113021303130413051306130713081309131013111312131313141315131613171318131913201321132213231324132513261327132813291330133113321333133413351336133713381339134013411342134313441345134613471348134913501351135213531354135513561357135813591360136113621363136413651366136713681369137013711372137313741375137613771378137913801381138213831384138513861387138813891390139113921393139413951396139713981399140014011402140314041405140614071408140914101411141214131414141514161417141814191420142114221423142414251426142714281429143014311432143314341435143614371438143914401441144214431444144514461447144814491450145114521453145414551456145714581459146014611462146314641465146614671468146914701471147214731474147514761477147814791480148114821483148414851486148714881489149014911492149314941495149614971498149915001501150215031504150515061507150815091510151115121513151415151516151715181519152015211522152315241525152615271528152915301531153215331534153515361537153815391540154115421543154415451546154715481549155015511552155315541555155615571558155915601561156215631564156515661567156815691570157115721573157415751576157715781579158015811582158315841585158615871588158915901591159215931594159515961597159815991600160116021603160416051606160716081609161016111612161316141615161616171618161916201621162216231624162516261627162816291630163116321633163416351636163716381639164016411642164316441645164616471648164916501651165216531654165516561657165816591660166116621663166416651666166716681669167016711672167316741675167616771678167916801681168216831684168516861687168816891690169116921693169416951696169716981699170017011702170317041705170617071708170917101711171217131714171517161717171817191720172117221723172417251726172717281729173017311732173317341735173617371738173917401741174217431744174517461747174817491750175117521753175417551756175717581759176017611762176317641765176617671768176917701771177217731774177517761777177817791780178117821783178417851786178717881789179017911792179317941795179617971798179918001801180218031804180518061807180818091810181118121813181418151816181718181819182018211822182318241825182618271828182918301831183218331834183518361837183818391840184118421843184418451846184718481849185018511852185318541855185618571858185918601861186218631864186518661867186818691870187118721873187418751876187718781879188018811882188318841885188618871888188918901891189218931894189518961897189818991900190119021903190419051906190719081909191019111912191319141915191619171918191919201921192219231924192519261927192819291930193119321933193419351936193719381939194019411942194319441945194619471948194919501951195219531954195519561957195819591960196119621963196419651966196719681969197019711972197319741975197619771978197919801981198219831984198519861987198819891990199119921993199419951996199719981999200020012002200320042005200620072008200920102011201220132014201520162017201820192020202120222023202420252026202720282029203020312032203320342035203620372038203920402041204220432044204520462047204820492050205120522053205420552056205720582059206020612062206320642065206620672068206920702071207220732074207520762077207820792080208120822083208420852086208720882089209020912092209320942095209620972098209921002101210221032104210521062107210821092110211121122113211421152116211721182119212021212122212321242125212621272128212921302131213221332134213521362137213821392140214121422143214421452146214721482149215021512152215321542155215621572158215921602161216221632164216521662167216821692170217121722173217421752176217721782179218021812182218321842185218621872188218921902191219221932194219521962197219821992200220122022203220422052206220722082209221022112212221322142215221622172218221922202221222222232224222522262227222822292230223122322233223422352236223722382239224022412242224322442245224622472248224922502251225222532254225522562257225822592260226122622263226422652266226722682269227022712272227322742275227622772278227922802281228222832284228522862287228822892290229122922293229422952296229722982299230023012302230323042305230623072308230923102311231223132314231523162317231823192320232123222323232423252326232723282329233023312332233323342335233623372338233923402341234223432344234523462347234823492350235123522353235423552356235723582359236023612362236323642365236623672368236923702371237223732374237523762377237823792380238123822383238423852386238723882389239023912392239323942395239623972398239924002401240224032404240524062407240824092410241124122413241424152416241724182419242024212422242324242425242624272428242924302431243224332434243524362437243824392440244124422443244424452446244724482449245024512452245324542455245624572458245924602461246224632464246524662467246824692470247124722473247424752476247724782479248024812482248324842485248624872488248924902491249224932494249524962497249824992500250125022503250425052506250725082509251025112512251325142515251625172518251925202521252225232524252525262527252825292530253125322533253425352536253725382539254025412542254325442545254625472548254925502551255225532554255525562557255825592560256125622563256425652566256725682569257025712572257325742575257625772578257925802581258225832584258525862587258825892590259125922593259425952596259725982599260026012602260326042605260626072608260926102611261226132614261526162617261826192620262126222623262426252626262726282629263026312632263326342635263626372638263926402641264226432644264526462647264826492650265126522653265426552656265726582659266026612662266326642665266626672668266926702671267226732674267526762677267826792680268126822683268426852686268726882689269026912692269326942695269626972698269927002701270227032704270527062707270827092710271127122713271427152716271727182719272027212722272327242725272627272728272927302731273227332734273527362737273827392740274127422743274427452746274727482749275027512752275327542755275627572758275927602761276227632764276527662767276827692770277127722773277427752776277727782779278027812782278327842785278627872788278927902791279227932794279527962797279827992800280128022803280428052806280728082809281028112812281328142815281628172818281928202821282228232824282528262827282828292830283128322833283428352836283728382839284028412842284328442845284628472848284928502851285228532854285528562857285828592860286128622863286428652866286728682869287028712872287328742875287628772878287928802881288228832884288528862887288828892890289128922893289428952896289728982899290029012902290329042905290629072908290929102911291229132914291529162917291829192920292129222923292429252926292729282929293029312932293329342935293629372938293929402941294229432944294529462947294829492950295129522953295429552956295729582959296029612962296329642965296629672968296929702971297229732974297529762977297829792980298129822983298429852986298729882989299029912992299329942995299629972998299930003001300230033004300530063007300830093010301130123013301430153016301730183019302030213022302330243025302630273028302930303031303230333034303530363037303830393040304130423043304430453046304730483049305030513052305330543055305630573058305930603061306230633064306530663067306830693070307130723073307430753076307730783079308030813082308330843085308630873088308930903091309230933094309530963097309830993100310131023103310431053106310731083109311031113112311331143115311631173118311931203121312231233124312531263127312831293130313131323133313431353136313731383139314031413142314331443145314631473148314931503151315231533154315531563157315831593160316131623163316431653166316731683169317031713172317331743175317631773178317931803181318231833184318531863187318831893190319131923193319431953196319731983199320032013202320332043205320632073208320932103211321232133214321532163217321832193220322132223223322432253226322732283229323032313232323332343235323632373238323932403241324232433244324532463247324832493250325132523253325432553256325732583259326032613262326332643265326632673268326932703271327232733274327532763277327832793280328132823283328432853286328732883289329032913292329332943295329632973298329933003301330233033304330533063307330833093310331133123313331433153316331733183319332033213322332333243325332633273328332933303331333233333334333533363337333833393340334133423343334433453346334733483349335033513352335333543355335633573358335933603361336233633364336533663367336833693370337133723373337433753376337733783379338033813382338333843385338633873388338933903391339233933394339533963397339833993400340134023403340434053406340734083409341034113412341334143415341634173418341934203421342234233424342534263427342834293430343134323433343434353436343734383439344034413442344334443445344634473448344934503451345234533454345534563457345834593460346134623463346434653466346734683469347034713472347334743475347634773478347934803481348234833484348534863487348834893490349134923493349434953496349734983499350035013502350335043505350635073508350935103511351235133514351535163517351835193520352135223523352435253526352735283529353035313532353335343535353635373538353935403541354235433544354535463547354835493550355135523553355435553556355735583559356035613562356335643565356635673568356935703571357235733574357535763577357835793580358135823583358435853586358735883589359035913592359335943595359635973598359936003601360236033604360536063607360836093610361136123613361436153616361736183619362036213622362336243625362636273628362936303631363236333634363536363637363836393640364136423643364436453646364736483649365036513652365336543655365636573658365936603661366236633664366536663667366836693670367136723673367436753676367736783679368036813682368336843685368636873688368936903691369236933694369536963697369836993700370137023703370437053706370737083709371037113712371337143715371637173718371937203721372237233724372537263727372837293730373137323733373437353736373737383739374037413742374337443745374637473748374937503751375237533754375537563757375837593760376137623763376437653766376737683769377037713772377337743775377637773778377937803781378237833784378537863787378837893790379137923793379437953796379737983799380038013802380338043805380638073808380938103811381238133814381538163817381838193820382138223823382438253826382738283829383038313832383338343835383638373838383938403841384238433844384538463847384838493850385138523853385438553856385738583859386038613862386338643865386638673868386938703871387238733874387538763877387838793880388138823883388438853886388738883889389038913892389338943895389638973898389939003901390239033904390539063907390839093910391139123913391439153916391739183919392039213922392339243925392639273928392939303931393239333934393539363937393839393940394139423943394439453946394739483949395039513952395339543955395639573958395939603961396239633964396539663967396839693970397139723973397439753976397739783979398039813982398339843985398639873988398939903991399239933994399539963997399839994000400140024003400440054006400740084009401040114012401340144015401640174018401940204021402240234024402540264027402840294030403140324033403440354036403740384039404040414042404340444045404640474048404940504051405240534054405540564057405840594060406140624063406440654066406740684069407040714072407340744075407640774078407940804081408240834084408540864087408840894090409140924093409440954096409740984099410041014102410341044105410641074108410941104111411241134114411541164117411841194120412141224123412441254126412741284129413041314132413341344135413641374138413941404141414241434144414541464147414841494150415141524153415441554156415741584159416041614162416341644165416641674168416941704171417241734174417541764177417841794180418141824183418441854186418741884189419041914192419341944195419641974198419942004201420242034204420542064207420842094210421142124213421442154216421742184219422042214222422342244225422642274228422942304231423242334234423542364237423842394240424142424243424442454246424742484249425042514252425342544255425642574258425942604261426242634264426542664267426842694270427142724273427442754276427742784279428042814282428342844285428642874288428942904291429242934294429542964297429842994300430143024303430443054306430743084309431043114312431343144315431643174318431943204321432243234324432543264327432843294330433143324333433443354336433743384339434043414342434343444345434643474348434943504351435243534354435543564357435843594360436143624363436443654366436743684369437043714372437343744375437643774378437943804381438243834384438543864387438843894390439143924393439443954396439743984399440044014402440344044405440644074408440944104411441244134414441544164417441844194420442144224423442444254426442744284429443044314432443344344435443644374438443944404441444244434444444544464447444844494450445144524453445444554456445744584459446044614462446344644465446644674468446944704471447244734474447544764477447844794480448144824483448444854486448744884489449044914492449344944495449644974498449945004501450245034504450545064507450845094510451145124513451445154516451745184519452045214522452345244525452645274528452945304531453245334534453545364537453845394540454145424543454445454546454745484549455045514552455345544555455645574558455945604561456245634564456545664567456845694570457145724573457445754576457745784579458045814582458345844585458645874588458945904591459245934594459545964597459845994600460146024603460446054606460746084609461046114612461346144615461646174618461946204621462246234624462546264627462846294630463146324633463446354636463746384639464046414642464346444645464646474648464946504651465246534654465546564657465846594660466146624663466446654666466746684669467046714672467346744675467646774678467946804681468246834684468546864687468846894690469146924693469446954696469746984699470047014702470347044705470647074708470947104711471247134714471547164717471847194720472147224723472447254726472747284729473047314732473347344735473647374738473947404741474247434744474547464747474847494750475147524753475447554756475747584759476047614762476347644765476647674768476947704771477247734774477547764777477847794780478147824783478447854786478747884789479047914792479347944795479647974798479948004801480248034804480548064807480848094810481148124813481448154816481748184819482048214822482348244825482648274828482948304831483248334834483548364837483848394840484148424843484448454846484748484849485048514852485348544855485648574858485948604861486248634864486548664867486848694870487148724873487448754876487748784879488048814882488348844885488648874888488948904891489248934894489548964897489848994900490149024903490449054906490749084909491049114912491349144915491649174918491949204921492249234924492549264927492849294930493149324933493449354936493749384939494049414942494349444945494649474948494949504951495249534954495549564957495849594960496149624963496449654966496749684969497049714972497349744975497649774978497949804981498249834984498549864987498849894990499149924993499449954996499749984999500050015002500350045005500650075008500950105011501250135014501550165017501850195020502150225023502450255026502750285029503050315032503350345035503650375038503950405041504250435044504550465047504850495050505150525053505450555056505750585059506050615062506350645065506650675068506950705071507250735074507550765077507850795080508150825083508450855086508750885089509050915092509350945095509650975098509951005101510251035104510551065107510851095110511151125113511451155116511751185119512051215122512351245125512651275128512951305131513251335134513551365137513851395140514151425143514451455146514751485149515051515152515351545155515651575158515951605161516251635164516551665167516851695170517151725173517451755176517751785179518051815182518351845185518651875188518951905191519251935194519551965197519851995200520152025203520452055206520752085209521052115212521352145215521652175218521952205221522252235224522552265227522852295230523152325233523452355236523752385239524052415242524352445245524652475248524952505251525252535254525552565257525852595260526152625263526452655266526752685269527052715272527352745275527652

In [59]:
a=range(0,100000,2)

In [60]:
a

range(0, 100000, 2)

In [61]:
for i in a:
    print(i,end="")

02468101214161820222426283032343638404244464850525456586062646668707274767880828486889092949698100102104106108110112114116118120122124126128130132134136138140142144146148150152154156158160162164166168170172174176178180182184186188190192194196198200202204206208210212214216218220222224226228230232234236238240242244246248250252254256258260262264266268270272274276278280282284286288290292294296298300302304306308310312314316318320322324326328330332334336338340342344346348350352354356358360362364366368370372374376378380382384386388390392394396398400402404406408410412414416418420422424426428430432434436438440442444446448450452454456458460462464466468470472474476478480482484486488490492494496498500502504506508510512514516518520522524526528530532534536538540542544546548550552554556558560562564566568570572574576578580582584586588590592594596598600602604606608610612614616618620622624626628630632634636638640642644646648650652654656658660662664666668670672674676678680682684686688690692694696698700702704706708710712714716718720722724726728730732734736738740742744746748750752754756758760762764766768770772774776778780782784786788790792794796798800802804806808810812814816818820822824826828830832834836838840842844846848850852854856858860862864866868870872874876878880882884886888890892894896898900902904906908910912914916918920922924926928930932934936938940942944946948950952954956958960962964966968970972974976978980982984986988990992994996998100010021004100610081010101210141016101810201022102410261028103010321034103610381040104210441046104810501052105410561058106010621064106610681070107210741076107810801082108410861088109010921094109610981100110211041106110811101112111411161118112011221124112611281130113211341136113811401142114411461148115011521154115611581160116211641166116811701172117411761178118011821184118611881190119211941196119812001202120412061208121012121214121612181220122212241226122812301232123412361238124012421244124612481250125212541256125812601262126412661268127012721274127612781280128212841286128812901292129412961298130013021304130613081310131213141316131813201322132413261328133013321334133613381340134213441346134813501352135413561358136013621364136613681370137213741376137813801382138413861388139013921394139613981400140214041406140814101412141414161418142014221424142614281430143214341436143814401442144414461448145014521454145614581460146214641466146814701472147414761478148014821484148614881490149214941496149815001502150415061508151015121514151615181520152215241526152815301532153415361538154015421544154615481550155215541556155815601562156415661568157015721574157615781580158215841586158815901592159415961598160016021604160616081610161216141616161816201622162416261628163016321634163616381640164216441646164816501652165416561658166016621664166616681670167216741676167816801682168416861688169016921694169616981700170217041706170817101712171417161718172017221724172617281730173217341736173817401742174417461748175017521754175617581760176217641766176817701772177417761778178017821784178617881790179217941796179818001802180418061808181018121814181618181820182218241826182818301832183418361838184018421844184618481850185218541856185818601862186418661868187018721874187618781880188218841886188818901892189418961898190019021904190619081910191219141916191819201922192419261928193019321934193619381940194219441946194819501952195419561958196019621964196619681970197219741976197819801982198419861988199019921994199619982000200220042006200820102012201420162018202020222024202620282030203220342036203820402042204420462048205020522054205620582060206220642066206820702072207420762078208020822084208620882090209220942096209821002102210421062108211021122114211621182120212221242126212821302132213421362138214021422144214621482150215221542156215821602162216421662168217021722174217621782180218221842186218821902192219421962198220022022204220622082210221222142216221822202222222422262228223022322234223622382240224222442246224822502252225422562258226022622264226622682270227222742276227822802282228422862288229022922294229622982300230223042306230823102312231423162318232023222324232623282330233223342336233823402342234423462348235023522354235623582360236223642366236823702372237423762378238023822384238623882390239223942396239824002402240424062408241024122414241624182420242224242426242824302432243424362438244024422444244624482450245224542456245824602462246424662468247024722474247624782480248224842486248824902492249424962498250025022504250625082510251225142516251825202522252425262528253025322534253625382540254225442546254825502552255425562558256025622564256625682570257225742576257825802582258425862588259025922594259625982600260226042606260826102612261426162618262026222624262626282630263226342636263826402642264426462648265026522654265626582660266226642666266826702672267426762678268026822684268626882690269226942696269827002702270427062708271027122714271627182720272227242726272827302732273427362738274027422744274627482750275227542756275827602762276427662768277027722774277627782780278227842786278827902792279427962798280028022804280628082810281228142816281828202822282428262828283028322834283628382840284228442846284828502852285428562858286028622864286628682870287228742876287828802882288428862888289028922894289628982900290229042906290829102912291429162918292029222924292629282930293229342936293829402942294429462948295029522954295629582960296229642966296829702972297429762978298029822984298629882990299229942996299830003002300430063008301030123014301630183020302230243026302830303032303430363038304030423044304630483050305230543056305830603062306430663068307030723074307630783080308230843086308830903092309430963098310031023104310631083110311231143116311831203122312431263128313031323134313631383140314231443146314831503152315431563158316031623164316631683170317231743176317831803182318431863188319031923194319631983200320232043206320832103212321432163218322032223224322632283230323232343236323832403242324432463248325032523254325632583260326232643266326832703272327432763278328032823284328632883290329232943296329833003302330433063308331033123314331633183320332233243326332833303332333433363338334033423344334633483350335233543356335833603362336433663368337033723374337633783380338233843386338833903392339433963398340034023404340634083410341234143416341834203422342434263428343034323434343634383440344234443446344834503452345434563458346034623464346634683470347234743476347834803482348434863488349034923494349634983500350235043506350835103512351435163518352035223524352635283530353235343536353835403542354435463548355035523554355635583560356235643566356835703572357435763578358035823584358635883590359235943596359836003602360436063608361036123614361636183620362236243626362836303632363436363638364036423644364636483650365236543656365836603662366436663668367036723674367636783680368236843686368836903692369436963698370037023704370637083710371237143716371837203722372437263728373037323734373637383740374237443746374837503752375437563758376037623764376637683770377237743776377837803782378437863788379037923794379637983800380238043806380838103812381438163818382038223824382638283830383238343836383838403842384438463848385038523854385638583860386238643866386838703872387438763878388038823884388638883890389238943896389839003902390439063908391039123914391639183920392239243926392839303932393439363938394039423944394639483950395239543956395839603962396439663968397039723974397639783980398239843986398839903992399439963998400040024004400640084010401240144016401840204022402440264028403040324034403640384040404240444046404840504052405440564058406040624064406640684070407240744076407840804082408440864088409040924094409640984100410241044106410841104112411441164118412041224124412641284130413241344136413841404142414441464148415041524154415641584160416241644166416841704172417441764178418041824184418641884190419241944196419842004202420442064208421042124214421642184220422242244226422842304232423442364238424042424244424642484250425242544256425842604262426442664268427042724274427642784280428242844286428842904292429442964298430043024304430643084310431243144316431843204322432443264328433043324334433643384340434243444346434843504352435443564358436043624364436643684370437243744376437843804382438443864388439043924394439643984400440244044406440844104412441444164418442044224424442644284430443244344436443844404442444444464448445044524454445644584460446244644466446844704472447444764478448044824484448644884490449244944496449845004502450445064508451045124514451645184520452245244526452845304532453445364538454045424544454645484550455245544556455845604562456445664568457045724574457645784580458245844586458845904592459445964598460046024604460646084610461246144616461846204622462446264628463046324634463646384640464246444646464846504652465446564658466046624664466646684670467246744676467846804682468446864688469046924694469646984700470247044706470847104712471447164718472047224724472647284730473247344736473847404742474447464748475047524754475647584760476247644766476847704772477447764778478047824784478647884790479247944796479848004802480448064808481048124814481648184820482248244826482848304832483448364838484048424844484648484850485248544856485848604862486448664868487048724874487648784880488248844886488848904892489448964898490049024904490649084910491249144916491849204922492449264928493049324934493649384940494249444946494849504952495449564958496049624964496649684970497249744976497849804982498449864988499049924994499649985000500250045006500850105012501450165018502050225024502650285030503250345036503850405042504450465048505050525054505650585060506250645066506850705072507450765078508050825084508650885090509250945096509851005102510451065108511051125114511651185120512251245126512851305132513451365138514051425144514651485150515251545156515851605162516451665168517051725174517651785180518251845186518851905192519451965198520052025204520652085210521252145216521852205222522452265228523052325234523652385240524252445246524852505252525452565258526052625264526652685270527252745276527852805282528452865288529052925294529652985300530253045306530853105312531453165318532053225324532653285330533253345336533853405342534453465348535053525354535653585360536253645366536853705372537453765378538053825384538653885390539253945396539854005402540454065408541054125414541654185420542254245426542854305432543454365438544054425444544654485450545254545456545854605462546454665468547054725474547654785480548254845486548854905492549454965498550055025504550655085510551255145516551855205522552455265528553055325534553655385540554255445546554855505552555455565558556055625564556655685570557255745576557855805582558455865588559055925594559655985600560256045606560856105612561456165618562056225624562656285630563256345636563856405642564456465648565056525654565656585660566256645666566856705672567456765678568056825684568656885690569256945696569857005702570457065708571057125714571657185720572257245726572857305732573457365738574057425744574657485750575257545756575857605762576457665768577057725774577657785780578257845786578857905792579457965798580058025804580658085810581258145816581858205822582458265828583058325834583658385840584258445846584858505852585458565858586058625864586658685870587258745876587858805882588458865888589058925894589658985900590259045906590859105912591459165918592059225924592659285930593259345936593859405942594459465948595059525954595659585960596259645966596859705972597459765978598059825984598659885990599259945996599860006002600460066008601060126014601660186020602260246026602860306032603460366038604060426044604660486050605260546056605860606062606460666068607060726074607660786080608260846086608860906092609460966098610061026104610661086110611261146116611861206122612461266128613061326134613661386140614261446146614861506152615461566158616061626164616661686170617261746176617861806182618461866188619061926194619661986200620262046206620862106212621462166218622062226224622662286230623262346236623862406242624462466248625062526254625662586260626262646266626862706272627462766278628062826284628662886290629262946296629863006302630463066308631063126314631663186320632263246326632863306332633463366338634063426344634663486350635263546356635863606362636463666368637063726374637663786380638263846386638863906392639463966398640064026404640664086410641264146416641864206422642464266428643064326434643664386440644264446446644864506452645464566458646064626464646664686470647264746476647864806482648464866488649064926494649664986500650265046506650865106512651465166518652065226524652665286530653265346536653865406542654465466548655065526554655665586560656265646566656865706572657465766578658065826584658665886590659265946596659866006602660466066608661066126614661666186620662266246626662866306632663466366638664066426644664666486650665266546656665866606662666466666668667066726674667666786680668266846686668866906692669466966698670067026704670667086710671267146716671867206722672467266728673067326734673667386740674267446746674867506752675467566758676067626764676667686770677267746776677867806782678467866788679067926794679667986800680268046806680868106812681468166818682068226824682668286830683268346836683868406842684468466848685068526854685668586860686268646866686868706872687468766878688068826884688668886890689268946896689869006902690469066908691069126914691669186920692269246926692869306932693469366938694069426944694669486950695269546956695869606962696469666968697069726974697669786980698269846986698869906992699469966998700070027004700670087010701270147016701870207022702470267028703070327034703670387040704270447046704870507052705470567058706070627064706670687070707270747076707870807082708470867088709070927094709670987100710271047106710871107112711471167118712071227124712671287130713271347136713871407142714471467148715071527154715671587160716271647166716871707172717471767178718071827184718671887190719271947196719872007202720472067208721072127214721672187220722272247226722872307232723472367238724072427244724672487250725272547256725872607262726472667268727072727274727672787280728272847286728872907292729472967298730073027304730673087310731273147316731873207322732473267328733073327334733673387340734273447346734873507352735473567358736073627364736673687370737273747376737873807382738473867388739073927394739673987400740274047406740874107412741474167418742074227424742674287430743274347436743874407442744474467448745074527454745674587460746274647466746874707472747474767478748074827484748674887490749274947496749875007502750475067508751075127514751675187520752275247526752875307532753475367538754075427544754675487550755275547556755875607562756475667568757075727574757675787580758275847586758875907592759475967598760076027604760676087610761276147616761876207622762476267628763076327634763676387640764276447646764876507652765476567658766076627664766676687670767276747676767876807682768476867688769076927694769676987700770277047706770877107712771477167718772077227724772677287730773277347736773877407742774477467748775077527754775677587760776277647766776877707772777477767778778077827784778677887790779277947796779878007802780478067808781078127814781678187820782278247826782878307832783478367838784078427844784678487850785278547856785878607862786478667868787078727874787678787880788278847886788878907892789478967898790079027904790679087910791279147916791879207922792479267928793079327934793679387940794279447946794879507952795479567958796079627964796679687970797279747976797879807982798479867988799079927994799679988000800280048006800880108012801480168018802080228024802680288030803280348036803880408042804480468048805080528054805680588060806280648066806880708072807480768078808080828084808680888090809280948096809881008102810481068108811081128114811681188120812281248126812881308132813481368138814081428144814681488150815281548156815881608162816481668168817081728174817681788180818281848186818881908192819481968198820082028204820682088210821282148216821882208222822482268228823082328234823682388240824282448246824882508252825482568258826082628264826682688270827282748276827882808282828482868288829082928294829682988300830283048306830883108312831483168318832083228324832683288330833283348336833883408342834483468348835083528354835683588360836283648366836883708372837483768378838083828384838683888390839283948396839884008402840484068408841084128414841684188420842284248426842884308432843484368438844084428444844684488450845284548456845884608462846484668468847084728474847684788480848284848486848884908492849484968498850085028504850685088510851285148516851885208522852485268528853085328534853685388540854285448546854885508552855485568558856085628564856685688570857285748576857885808582858485868588859085928594859685988600860286048606860886108612861486168618862086228624862686288630863286348636863886408642864486468648865086528654865686588660866286648666866886708672867486768678868086828684868686888690869286948696869887008702870487068708871087128714871687188720872287248726872887308732873487368738874087428744874687488750875287548756875887608762876487668768877087728774877687788780878287848786878887908792879487968798880088028804880688088810881288148816881888208822882488268828883088328834883688388840884288448846884888508852885488568858886088628864886688688870887288748876887888808882888488868888889088928894889688988900890289048906890889108912891489168918892089228924892689288930893289348936893889408942894489468948895089528954895689588960896289648966896889708972897489768978898089828984898689888990899289948996899890009002900490069008901090129014901690189020902290249026902890309032903490369038904090429044904690489050905290549056905890609062906490669068907090729074907690789080908290849086908890909092909490969098910091029104910691089110911291149116911891209122912491269128913091329134913691389140914291449146914891509152915491569158916091629164916691689170917291749176917891809182918491869188919091929194919691989200920292049206920892109212921492169218922092229224922692289230923292349236923892409242924492469248925092529254925692589260926292649266926892709272927492769278928092829284928692889290929292949296929893009302930493069308931093129314931693189320932293249326932893309332933493369338934093429344934693489350935293549356935893609362936493669368937093729374937693789380938293849386938893909392939493969398940094029404940694089410941294149416941894209422942494269428943094329434943694389440944294449446944894509452945494569458946094629464946694689470947294749476947894809482948494869488949094929494949694989500950295049506950895109512951495169518952095229524952695289530953295349536953895409542954495469548955095529554955695589560956295649566956895709572957495769578958095829584958695889590959295949596959896009602960496069608961096129614961696189620962296249626962896309632963496369638964096429644964696489650965296549656965896609662966496669668967096729674967696789680968296849686968896909692969496969698970097029704970697089710971297149716971897209722972497269728973097329734973697389740974297449746974897509752975497569758976097629764976697689770977297749776977897809782978497869788979097929794979697989800980298049806980898109812981498169818982098229824982698289830983298349836983898409842984498469848985098529854985698589860986298649866986898709872987498769878988098829884988698889890989298949896989899009902990499069908991099129914991699189920992299249926992899309932993499369938994099429944994699489950995299549956995899609962996499669968997099729974997699789980998299849986998899909992999499969998100001000210004100061000810010100121001410016100181002010022100241002610028100301003210034100361003810040100421004410046100481005010052100541005610058100601006210064100661006810070100721007410076100781008010082100841008610088100901009210094100961009810100101021010410106101081011010112101141011610118101201012210124101261012810130101321013410136101381014010142101441014610148101501015210154101561015810160101621016410166101681017010172101741017610178101801018210184101861018810190101921019410196101981020010202102041020610208102101021210214102161021810220

In [62]:
a=range(10000)
a

range(0, 10000)

In [63]:
a=np.array(a)
a

array([   0,    1,    2, ..., 9997, 9998, 9999])

In [64]:
%timeit a**2

7.72 µs ± 161 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [65]:
a=np.array([1,2,3,4,5,6])
a

array([1, 2, 3, 4, 5, 6])

In [66]:
a.shape

(6,)

In [68]:
a.dtype

dtype('int64')

In [69]:
len(a)

6

In [70]:
a.ndim

1

In [72]:
for i in range(1,10):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [73]:
for i in range(1,50,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [74]:
np.arange(1,50,0.5)

array([ 1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ,  4.5,  5. ,  5.5,  6. ,
        6.5,  7. ,  7.5,  8. ,  8.5,  9. ,  9.5, 10. , 10.5, 11. , 11.5,
       12. , 12.5, 13. , 13.5, 14. , 14.5, 15. , 15.5, 16. , 16.5, 17. ,
       17.5, 18. , 18.5, 19. , 19.5, 20. , 20.5, 21. , 21.5, 22. , 22.5,
       23. , 23.5, 24. , 24.5, 25. , 25.5, 26. , 26.5, 27. , 27.5, 28. ,
       28.5, 29. , 29.5, 30. , 30.5, 31. , 31.5, 32. , 32.5, 33. , 33.5,
       34. , 34.5, 35. , 35.5, 36. , 36.5, 37. , 37.5, 38. , 38.5, 39. ,
       39.5, 40. , 40.5, 41. , 41.5, 42. , 42.5, 43. , 43.5, 44. , 44.5,
       45. , 45.5, 46. , 46.5, 47. , 47.5, 48. , 48.5, 49. , 49.5])

In [75]:
a=np.arange(1,9)
a

array([1, 2, 3, 4, 5, 6, 7, 8])

In [76]:
a[3]

4

In [77]:
a

array([1, 2, 3, 4, 5, 6, 7, 8])

In [78]:
a<4

array([ True,  True,  True, False, False, False, False, False])

In [79]:
a[a<4]

array([1, 2, 3])

In [88]:
(a%2==0) & (a<5)

array([False,  True, False,  True, False, False, False, False])

In [89]:
a

array([1, 2, 3, 4, 5, 6, 7, 8])

In [90]:
a=np.array([1,2,3,4,5])
a=np.array([4,5,6,7,8])

In [91]:
np.all(a==b)

False

In [92]:
np.any(a==b)

False

In [93]:
np.all(a<b)

False

In [94]:
np.any(a<b)

True

In [95]:
a.mean()

6.0

In [96]:
np.mean(a)

6.0

In [97]:
a.sum()

30

In [98]:
np.sum(a)

30

In [99]:
a.shape

(5,)

In [100]:
a.size

5

In [101]:
a=np.array([[1,2,3],[4,5,6]])
a

array([[1, 2, 3],
       [4, 5, 6]])

In [102]:
a.shape

(2, 3)

In [103]:
a.size

6

In [104]:
a.ndim

2

In [107]:
len(a)

2

In [108]:
a.shape

(2, 3)

In [109]:
a.shape[0]

2

In [110]:
a=np.arange(1,10)
a

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [112]:
a.reshape((-1,3))

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [113]:
a.reshape((3,-1))

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [114]:
a=np.arange(1,13)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [115]:
a=a.reshape((3,4))
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [116]:
a.T

array([[ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11],
       [ 4,  8, 12]])

In [118]:
a.transpose()

array([[ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11],
       [ 4,  8, 12]])

In [119]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [120]:
a.flatten()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [121]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [122]:
a[::,::]

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [123]:
a[:2:1,::]

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [124]:
a<5

array([[ True,  True,  True,  True],
       [False, False, False, False],
       [False, False, False, False]])

In [125]:
a[a<5]

array([1, 2, 3, 4])

In [126]:
a.min()

1

In [127]:
np.min(a)

1

In [128]:
a.sum()

78

In [129]:
np.sum(a)

78

In [130]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [131]:
a.sum(axis=0)

array([15, 18, 21, 24])

In [132]:
np.sum(a,axis=0)

array([15, 18, 21, 24])

In [133]:
a=np.array([4,2,6,8,45,12])
a

array([ 4,  2,  6,  8, 45, 12])

In [134]:
np.sort(a)

array([ 2,  4,  6,  8, 12, 45])

In [135]:
np.argsort(a)

array([1, 0, 2, 3, 5, 4])

In [136]:
a

array([ 4,  2,  6,  8, 45, 12])

In [137]:
a.argmin()

1

In [138]:
np.argmin(a)

1

In [143]:
a

array([ 4,  2,  6,  8, 45, 12])

In [144]:
ls

06_Probability_Distributions_1/
07_Pandas_1/
07_Probability_Distributions_2/
DV.ipynb
NPS.ipynb
Numpy Airbnb NPS final .ipynb
Pandas Revision.ipynb
Pandas final cut.ipynb
Pfizer_1.csv
Python Lib Rivision.ipynb
SQL/
These Are the 25 Smartest Dog Breeds, According to Science.jpeg
Think Stats, 2nd Edition_ Exploratory Data Analysis ( PDFDrive ).pdf
Untitled.ipynb
clouds-2627945.jpg
directors.csv
figure.png
final_vg.csv
fit.txt
gapminder.csv
jupyterthemes.ipynb
mckinsey.csv
movies.csv
prob_01_basic_definitions/
storytelling-with-data-cole-nussbaumer-knaflic.pdf
survey.txt

In [145]:
data=np.loadtxt("survey.txt")
data

array([ 7., 10.,  5., ...,  5.,  9., 10.])

In [146]:
np.unique(data)

array([ 1.,  4.,  5.,  7.,  8.,  9., 10.])

In [147]:
np.unique(data,return_counts=True)

(array([ 1.,  4.,  5.,  7.,  8.,  9., 10.]),
 array([117, 112, 103, 123, 103, 394, 215]))

In [148]:
a=np.array([2,1,6,4,7,3,8,9,11])
a

array([ 2,  1,  6,  4,  7,  3,  8,  9, 11])

In [149]:
np.where(a<6)

(array([0, 1, 3, 5]),)

In [150]:
np.where(a<6,-1,+1)

array([-1, -1,  1, -1,  1, -1,  1,  1,  1])

In [151]:
import pandas as pd

In [152]:
ls

06_Probability_Distributions_1/
07_Pandas_1/
07_Probability_Distributions_2/
DV.ipynb
NPS.ipynb
Numpy Airbnb NPS final .ipynb
Pandas Revision.ipynb
Pandas final cut.ipynb
Pfizer_1.csv
Python Lib Rivision.ipynb
SQL/
These Are the 25 Smartest Dog Breeds, According to Science.jpeg
Think Stats, 2nd Edition_ Exploratory Data Analysis ( PDFDrive ).pdf
Untitled.ipynb
clouds-2627945.jpg
directors.csv
figure.png
final_vg.csv
fit.txt
gapminder.csv
jupyterthemes.ipynb
mckinsey.csv
movies.csv
prob_01_basic_definitions/
storytelling-with-data-cole-nussbaumer-knaflic.pdf
survey.txt

In [154]:
df=pd.read_csv("gapminder.csv")
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [155]:
df.head()

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [156]:
df.tail()

       country  year  population continent  life_exp     gdp_cap
1699  Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487  469.709298

In [157]:
df.shape

(1704, 6)

In [158]:
df.size

10224

In [159]:
df.shape[0]

1704

In [160]:
df["country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [161]:
df["country"].nunique()

142

In [162]:
df["country"].value_counts()

Afghanistan          12
Pakistan             12
New Zealand          12
Nicaragua            12
Niger                12
                     ..
Eritrea              12
Equatorial Guinea    12
El Salvador          12
Egypt                12
Zimbabwe             12
Name: country, Length: 142, dtype: int64

In [163]:
df.rename({"country":"CountrY"},axis=1)

          CountrY  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [164]:
df.rename(columns={"country":"CountrY"})

          CountrY  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [166]:
df.rename({"country":"CountrY","year":"YeaR"},axis=1)

          CountrY  YeaR  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [168]:
df.rename(columns={"country":"CountrY","year":"YeaR"})

          CountrY  YeaR  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [170]:
len([i for i in range(1,1705)])

1704

In [172]:
df["new"]=[i for i in range(1,1705)]

In [173]:
df

          country  year  population continent  life_exp     gdp_cap   new
0     Afghanistan  1952     8425333      Asia    28.801  779.445314     1
1     Afghanistan  1957     9240934      Asia    30.332  820.853030     2
2     Afghanistan  1962    10267083      Asia    31.997  853.100710     3
3     Afghanistan  1967    11537966      Asia    34.020  836.197138     4
4     Afghanistan  1972    13079460      Asia    36.088  739.981106     5
...           ...   ...         ...       ...       ...         ...   ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306  1700
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786  1701
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960  1702
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623  1703
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298  1704

[1704 rows x 7 columns]

In [174]:
df.drop(columns={"new"})

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [175]:
df

          country  year  population continent  life_exp     gdp_cap   new
0     Afghanistan  1952     8425333      Asia    28.801  779.445314     1
1     Afghanistan  1957     9240934      Asia    30.332  820.853030     2
2     Afghanistan  1962    10267083      Asia    31.997  853.100710     3
3     Afghanistan  1967    11537966      Asia    34.020  836.197138     4
4     Afghanistan  1972    13079460      Asia    36.088  739.981106     5
...           ...   ...         ...       ...       ...         ...   ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306  1700
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786  1701
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960  1702
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623  1703
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298  1704

[1704 rows x 7 columns]

In [176]:
df.drop(columns={"new"},inplace=True)

In [177]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [178]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [180]:
df.loc[1]

country       Afghanistan
year                 1957
population        9240934
continent            Asia
life_exp           30.332
gdp_cap         820.85303
Name: 1, dtype: object

In [181]:
df.iloc[1]

country       Afghanistan
year                 1957
population        9240934
continent            Asia
life_exp           30.332
gdp_cap         820.85303
Name: 1, dtype: object

In [184]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [185]:
df.head(5)

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [188]:
df.loc[1:5,1:4]

TypeError: cannot do slice indexing on Index with these indexers [1] of type int

In [189]:
df.iloc[1:5,1:4]

   year  population continent
1  1957     9240934      Asia
2  1962    10267083      Asia
3  1967    11537966      Asia
4  1972    13079460      Asia

In [192]:
df.loc[::,["year","population"]]

      year  population
0     1952     8425333
1     1957     9240934
2     1962    10267083
3     1967    11537966
4     1972    13079460
...    ...         ...
1699  1987     9216418
1700  1992    10704340
1701  1997    11404948
1702  2002    11926563
1703  2007    12311143

[1704 rows x 2 columns]

In [193]:
df.loc[1:6]

       country  year  population continent  life_exp     gdp_cap
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106
5  Afghanistan  1977    14880372      Asia    38.438  786.113360
6  Afghanistan  1982    12881816      Asia    39.854  978.011439

In [194]:
df.loc[1:6,::2]

       country  population  life_exp
1  Afghanistan     9240934    30.332
2  Afghanistan    10267083    31.997
3  Afghanistan    11537966    34.020
4  Afghanistan    13079460    36.088
5  Afghanistan    14880372    38.438
6  Afghanistan    12881816    39.854

In [196]:
df.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [197]:
df.loc[df.shape[0]]=["India",2023,123456789,"Asia",67,50]

In [198]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298
1704        India  2023   123456789      Asia    67.000   50.000000

[1705 rows x 6 columns]

In [199]:
df.iloc[df.shape[0]]=["India",2024,123456789,"Asia",67,50]

IndexError: iloc cannot enlarge its target object

In [200]:
df.drop([1704],axis=0)

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [201]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298
1704        India  2023   123456789      Asia    67.000   50.000000

[1705 rows x 6 columns]

In [202]:
df.drop([1704],axis=0,inplace=True)

In [203]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [205]:
df.drop(index=[1703,1701])

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1697     Zimbabwe  1977     6642107    Africa    57.674  685.587682
1698     Zimbabwe  1982     7636524    Africa    60.363  788.855041
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623

[1702 rows x 6 columns]

In [206]:
df.loc[1:50:2,::2]

        country  population  life_exp
1   Afghanistan     9240934    30.332
3   Afghanistan    11537966    34.020
5   Afghanistan    14880372    38.438
7   Afghanistan    13867957    40.822
9   Afghanistan    22227415    41.763
11  Afghanistan    31889923    43.828
13      Albania     1476505    59.280
15      Albania     1984060    66.220
17      Albania     2509048    68.930
19      Albania     3075321    72.000
21      Albania     3428038    72.950
23      Albania     3600523    76.423
25      Algeria    10270856    45.685
27      Algeria    12760499    51.407
29      Algeria    17152804    58.014
31      Algeria    23254956    65.799
33      Algeria    29072015    69.152
35      Algeria    33333216    72.301
37       Angola     4561361    31.999
39       Angola     5247469    35.985
41       Angola     6162675    39.483
43       Angola     7874230    39.906
45       Angola     9875024    40.963
47       Angola    12420476    42.731
49    Argentina    19610538    64.399

In [209]:
df.loc[1:20:2,"country":"gdp_cap":2]

        country  population  life_exp
1   Afghanistan     9240934    30.332
3   Afghanistan    11537966    34.020
5   Afghanistan    14880372    38.438
7   Afghanistan    13867957    40.822
9   Afghanistan    22227415    41.763
11  Afghanistan    31889923    43.828
13      Albania     1476505    59.280
15      Albania     1984060    66.220
17      Albania     2509048    68.930
19      Albania     3075321    72.000

In [210]:
ls

06_Probability_Distributions_1/
07_Pandas_1/
07_Probability_Distributions_2/
DV.ipynb
NPS.ipynb
Numpy Airbnb NPS final .ipynb
Pandas Revision.ipynb
Pandas final cut.ipynb
Pfizer_1.csv
Python Lib Rivision.ipynb
SQL/
These Are the 25 Smartest Dog Breeds, According to Science.jpeg
Think Stats, 2nd Edition_ Exploratory Data Analysis ( PDFDrive ).pdf
Untitled.ipynb
clouds-2627945.jpg
directors.csv
figure.png
final_vg.csv
fit.txt
gapminder.csv
jupyterthemes.ipynb
mckinsey.csv
movies.csv
prob_01_basic_definitions/
storytelling-with-data-cole-nussbaumer-knaflic.pdf
survey.txt

In [211]:
mov=pd.read_csv("movies.csv")
mov

,Unnamed: 0,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
1,1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
4,5,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...
1460,4736,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday
1461,4743,48370,27000,19,3151130,Clerks,7.4,755,5369,1994,Sep,Tuesday
1462,4748,48375,0,7,0,Rampage,6.0,131,5148,2009,Aug,Friday
1463,4749,48376,0,3,0,Slacker,6.4,77,5535,1990,Jul,Friday
1464,4768,48395,220000,14,2040920,El Mariachi,6.6,238,5097,1992,Sep,Friday

In [213]:
mov.drop("Unnamed: 0",axis=1,inplace=True)

In [215]:
mov

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday
1461,48370,27000,19,3151130,Clerks,7.4,755,5369,1994,Sep,Tuesday
1462,48375,0,7,0,Rampage,6.0,131,5148,2009,Aug,Friday
1463,48376,0,3,0,Slacker,6.4,77,5535,1990,Jul,Friday
1464,48395,220000,14,2040920,El Mariachi,6.6,238,5097,1992,Sep,Friday

In [216]:
dire=pd.read_csv("directors.csv")
dire

      Unnamed: 0      director_name    id gender
0              0      James Cameron  4762   Male
1              1     Gore Verbinski  4763   Male
2              2         Sam Mendes  4764   Male
3              3  Christopher Nolan  4765   Male
4              4     Andrew Stanton  4766   Male
...          ...                ...   ...    ...
2344        2344      Shane Carruth  7106   Male
2345        2345   Neill Dela Llana  7107    NaN
2346        2346        Scott Smith  7108    NaN
2347        2347        Daniel Hsia  7109   Male
2348        2348   Brian Herzlinger  7110   Male

[2349 rows x 4 columns]

In [220]:
dire.drop("Unnamed: 0",axis=1,inplace=True)

In [221]:
dire

          director_name    id gender
0         James Cameron  4762   Male
1        Gore Verbinski  4763   Male
2            Sam Mendes  4764   Male
3     Christopher Nolan  4765   Male
4        Andrew Stanton  4766   Male
...                 ...   ...    ...
2344      Shane Carruth  7106   Male
2345   Neill Dela Llana  7107    NaN
2346        Scott Smith  7108    NaN
2347        Daniel Hsia  7109   Male
2348   Brian Herzlinger  7110   Male

[2349 rows x 3 columns]

In [222]:
df.loc[df.shape[0]]=["Srilanka",2022,1320000,"Asia",62,2100]
df.loc[df.shape[0]]=["Srilanka",2022,1320000,"Asia",62,2100]
df.loc[df.shape[0]]=["Srilanka",2022,1320000,"Asia",62,2100]

In [223]:
df

          country  year  population continent  life_exp      gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801   779.445314
1     Afghanistan  1957     9240934      Asia    30.332   820.853030
2     Afghanistan  1962    10267083      Asia    31.997   853.100710
3     Afghanistan  1967    11537966      Asia    34.020   836.197138
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
...           ...   ...         ...       ...       ...          ...
1702     Zimbabwe  2002    11926563    Africa    39.989   672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487   469.709298
1704     Srilanka  2022     1320000      Asia    62.000  2100.000000
1705     Srilanka  2022     1320000      Asia    62.000  2100.000000
1706     Srilanka  2022     1320000      Asia    62.000  2100.000000

[1707 rows x 6 columns]

In [224]:
df.loc[df.shape[0]]=["India",2023,140000000,"Asia",61.9,2000.4324]
df.loc[df.shape[0]]=["India",2023,140000000,"Asia",61.9,2000.4324]
df.loc[df.shape[0]]=["India",2023,140000000,"Asia",61.9,2000.4324]

In [225]:
df.tail(15)

       country  year  population continent  life_exp      gdp_cap
1695  Zimbabwe  1967     4995432    Africa    53.995   569.795071
1696  Zimbabwe  1972     5861135    Africa    55.635   799.362176
1697  Zimbabwe  1977     6642107    Africa    57.674   685.587682
1698  Zimbabwe  1982     7636524    Africa    60.363   788.855041
1699  Zimbabwe  1987     9216418    Africa    62.351   706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377   693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809   792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989   672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487   469.709298
1704  Srilanka  2022     1320000      Asia    62.000  2100.000000
1705  Srilanka  2022     1320000      Asia    62.000  2100.000000
1706  Srilanka  2022     1320000      Asia    62.000  2100.000000
1707     India  2023   140000000      Asia    61.900  2000.432400
1708     India  2023   140000000      Asia    61.900  2000.432400
1709     India  2023   140000000      Asia    61.900  2000.432400

In [226]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1705     True
1706     True
1707    False
1708     True
1709     True
Length: 1710, dtype: bool

In [227]:
df.duplicated().tail(15)

1695    False
1696    False
1697    False
1698    False
1699    False
1700    False
1701    False
1702    False
1703    False
1704    False
1705     True
1706     True
1707    False
1708     True
1709     True
dtype: bool

In [228]:
df.loc[df.duplicated()]

       country  year  population continent  life_exp    gdp_cap
1705  Srilanka  2022     1320000      Asia      62.0  2100.0000
1706  Srilanka  2022     1320000      Asia      62.0  2100.0000
1708     India  2023   140000000      Asia      61.9  2000.4324
1709     India  2023   140000000      Asia      61.9  2000.4324

In [229]:
df.loc[df.duplicated()].index.values

array([1705, 1706, 1708, 1709])

In [230]:
df.duplicated(subset=["country","year"])

0       False
1       False
2       False
3       False
4       False
        ...
1705     True
1706     True
1707    False
1708     True
1709     True
Length: 1710, dtype: bool

In [231]:
df.drop_duplicates(keep="first")

          country  year  population continent  life_exp      gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801   779.445314
1     Afghanistan  1957     9240934      Asia    30.332   820.853030
2     Afghanistan  1962    10267083      Asia    31.997   853.100710
3     Afghanistan  1967    11537966      Asia    34.020   836.197138
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
...           ...   ...         ...       ...       ...          ...
1701     Zimbabwe  1997    11404948    Africa    46.809   792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989   672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487   469.709298
1704     Srilanka  2022     1320000      Asia    62.000  2100.000000
1707        India  2023   140000000      Asia    61.900  2000.432400

[1706 rows x 6 columns]

In [233]:
df.drop_duplicates(keep="last")

          country  year  population continent  life_exp      gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801   779.445314
1     Afghanistan  1957     9240934      Asia    30.332   820.853030
2     Afghanistan  1962    10267083      Asia    31.997   853.100710
3     Afghanistan  1967    11537966      Asia    34.020   836.197138
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
...           ...   ...         ...       ...       ...          ...
1701     Zimbabwe  1997    11404948    Africa    46.809   792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989   672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487   469.709298
1706     Srilanka  2022     1320000      Asia    62.000  2100.000000
1709        India  2023   140000000      Asia    61.900  2000.432400

[1706 rows x 6 columns]

In [235]:
df.tail(7)

       country  year  population continent  life_exp      gdp_cap
1703  Zimbabwe  2007    12311143    Africa    43.487   469.709298
1704  Srilanka  2022     1320000      Asia    62.000  2100.000000
1705  Srilanka  2022     1320000      Asia    62.000  2100.000000
1706  Srilanka  2022     1320000      Asia    62.000  2100.000000
1707     India  2023   140000000      Asia    61.900  2000.432400
1708     India  2023   140000000      Asia    61.900  2000.432400
1709     India  2023   140000000      Asia    61.900  2000.432400

In [236]:
df.drop_duplicates(keep=False)

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [239]:
df.loc[df["country"]=="India"]

     country  year  population continent  life_exp      gdp_cap
696    India  1952   372000000      Asia    37.373   546.565749
697    India  1957   409000000      Asia    40.249   590.061996
698    India  1962   454000000      Asia    43.605   658.347151
699    India  1967   506000000      Asia    47.193   700.770611
700    India  1972   567000000      Asia    50.651   724.032527
701    India  1977   634000000      Asia    54.208   813.337323
702    India  1982   708000000      Asia    56.596   855.723538
703    India  1987   788000000      Asia    58.553   976.512676
704    India  1992   872000000      Asia    60.223  1164.406809
705    India  1997   959000000      Asia    61.765  1458.817442
706    India  2002  1034172547      Asia    62.879  1746.769454
707    India  2007  1110396331      Asia    64.698  2452.210407
1707   India  2023   140000000      Asia    61.900  2000.432400
1708   India  2023   140000000      Asia    61.900  2000.432400
1709   India  2023   140000000      Asia    61.900  2000.432400

In [244]:
df.loc[df["life_exp"]>60]

       country  year  population continent  life_exp      gdp_cap
14     Albania  1962     1728137    Europe     64.82  2312.888958
15     Albania  1967     1984060    Europe     66.22  2760.196931
16     Albania  1972     2263554    Europe     67.69  3313.422188
17     Albania  1977     2509048    Europe     68.93  3533.003910
18     Albania  1982     2780097    Europe     70.42  3630.880722
...        ...   ...         ...       ...       ...          ...
1705  Srilanka  2022     1320000      Asia     62.00  2100.000000
1706  Srilanka  2022     1320000      Asia     62.00  2100.000000
1707     India  2023   140000000      Asia     61.90  2000.432400
1708     India  2023   140000000      Asia     61.90  2000.432400
1709     India  2023   140000000      Asia     61.90  2000.432400

[883 rows x 6 columns]

In [246]:
df.loc[(df["life_exp"]>70)&(df["continent"]=="Asia")]

                 country  year  population continent  life_exp       gdp_cap
91               Bahrain  1987      454612      Asia    70.750  18524.024060
92               Bahrain  1992      529491      Asia    72.601  19035.579170
93               Bahrain  1997      598561      Asia    73.925  20292.016790
94               Bahrain  2002      656397      Asia    74.795  23403.559270
95               Bahrain  2007      708573      Asia    75.635  29796.048340
...                  ...   ...         ...       ...       ...           ...
1654             Vietnam  2002    80908147      Asia    73.017   1764.456677
1655             Vietnam  2007    85262356      Asia    74.249   2441.576404
1665  West Bank and Gaza  1997     2826046      Asia    71.096   7110.667619
1666  West Bank and Gaza  2002     3389578      Asia    72.370   4515.487575
1667  West Bank and Gaza  2007     4018332      Asia    73.422   3025.349798

[93 rows x 6 columns]

In [247]:
df.loc[(df["life_exp"]>70)&(df["continent"]=="Asia")]["country"]

91                 Bahrain
92                 Bahrain
93                 Bahrain
94                 Bahrain
95                 Bahrain
               ...
1654               Vietnam
1655               Vietnam
1665    West Bank and Gaza
1666    West Bank and Gaza
1667    West Bank and Gaza
Name: country, Length: 93, dtype: object

In [252]:
df.loc[df["life_exp"]>70]["country"].unique()

array(['Albania', 'Algeria', 'Argentina', 'Australia', 'Austria',
       'Bahrain', 'Belgium', 'Bosnia and Herzegovina', 'Brazil',
       'Bulgaria', 'Canada', 'Chile', 'China', 'Colombia', 'Costa Rica',
       'Croatia', 'Cuba', 'Czech Republic', 'Denmark',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Finland',
       'France', 'Germany', 'Greece', 'Guatemala', 'Honduras',
       'Hong Kong, China', 'Hungary', 'Iceland', 'Indonesia', 'Iran',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Korea, Dem. Rep.', 'Korea, Rep.', 'Kuwait', 'Lebanon', 'Libya',
       'Malaysia', 'Mauritius', 'Mexico', 'Montenegro', 'Morocco',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Norway', 'Oman',
       'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Reunion', 'Romania', 'Saudi Arabia', 'Serbia',
       'Singapore', 'Slovak Republic', 'Slovenia', 'Spain', 'Sri Lanka',
       'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Thailand', 'Tunisia',
       'Turkey', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza'], dtype=object)

In [254]:
df.loc[(df["life_exp"]>70)&(df["continent"]=="Asia")]["country"].unique()

array(['Bahrain', 'China', 'Hong Kong, China', 'Indonesia', 'Iran',
       'Israel', 'Japan', 'Jordan', 'Korea, Dem. Rep.', 'Korea, Rep.',
       'Kuwait', 'Lebanon', 'Malaysia', 'Oman', 'Philippines',
       'Saudi Arabia', 'Singapore', 'Sri Lanka', 'Syria', 'Taiwan',
       'Thailand', 'Vietnam', 'West Bank and Gaza'], dtype=object)

In [256]:
df.loc[(df["life_exp"]>70)&(df["continent"]=="Asia")][["country","year"]]

                 country  year
91               Bahrain  1987
92               Bahrain  1992
93               Bahrain  1997
94               Bahrain  2002
95               Bahrain  2007
...                  ...   ...
1654             Vietnam  2002
1655             Vietnam  2007
1665  West Bank and Gaza  1997
1666  West Bank and Gaza  2002
1667  West Bank and Gaza  2007

[93 rows x 2 columns]

In [259]:
df.loc[(df["life_exp"]>70)&(df["continent"]=="Asia"),["country","year"]]

                 country  year
91               Bahrain  1987
92               Bahrain  1992
93               Bahrain  1997
94               Bahrain  2002
95               Bahrain  2007
...                  ...   ...
1654             Vietnam  2002
1655             Vietnam  2007
1665  West Bank and Gaza  1997
1666  West Bank and Gaza  2002
1667  West Bank and Gaza  2007

[93 rows x 2 columns]

In [261]:
df.loc[(df["life_exp"]>70)&(df["continent"]=="Asia")]

                 country  year  population continent  life_exp       gdp_cap
91               Bahrain  1987      454612      Asia    70.750  18524.024060
92               Bahrain  1992      529491      Asia    72.601  19035.579170
93               Bahrain  1997      598561      Asia    73.925  20292.016790
94               Bahrain  2002      656397      Asia    74.795  23403.559270
95               Bahrain  2007      708573      Asia    75.635  29796.048340
...                  ...   ...         ...       ...       ...           ...
1654             Vietnam  2002    80908147      Asia    73.017   1764.456677
1655             Vietnam  2007    85262356      Asia    74.249   2441.576404
1665  West Bank and Gaza  1997     2826046      Asia    71.096   7110.667619
1666  West Bank and Gaza  2002     3389578      Asia    72.370   4515.487575
1667  West Bank and Gaza  2007     4018332      Asia    73.422   3025.349798

[93 rows x 6 columns]

In [262]:
df["life_exp"].max()

82.603

In [265]:
df.sort_values(by=["year"],ascending=False)

           country  year  population continent  life_exp      gdp_cap
1709         India  2023   140000000      Asia    61.900  2000.432400
1708         India  2023   140000000      Asia    61.900  2000.432400
1707         India  2023   140000000      Asia    61.900  2000.432400
1706      Srilanka  2022     1320000      Asia    62.000  2100.000000
1704      Srilanka  2022     1320000      Asia    62.000  2100.000000
...            ...   ...         ...       ...       ...          ...
1404  South Africa  1952    14264935    Africa    45.009  4725.295531
696          India  1952   372000000      Asia    37.373   546.565749
1584        Uganda  1952     5824797    Africa    39.978   734.753484
708      Indonesia  1952    82052000      Asia    37.468   749.681655
0      Afghanistan  1952     8425333      Asia    28.801   779.445314

[1710 rows x 6 columns]

In [267]:
df.sort_values(by=["year","life_exp"],ascending=True)

           country  year  population continent  life_exp      gdp_cap
0      Afghanistan  1952     8425333      Asia    28.801   779.445314
552         Gambia  1952      284320    Africa    30.000   485.230659
36          Angola  1952     4232095    Africa    30.015  3520.610273
1344  Sierra Leone  1952     2143249    Africa    30.331   879.787736
1032    Mozambique  1952     6446316    Africa    31.286   468.526038
...            ...   ...         ...       ...       ...          ...
1705      Srilanka  2022     1320000      Asia    62.000  2100.000000
1706      Srilanka  2022     1320000      Asia    62.000  2100.000000
1707         India  2023   140000000      Asia    61.900  2000.432400
1708         India  2023   140000000      Asia    61.900  2000.432400
1709         India  2023   140000000      Asia    61.900  2000.432400

[1710 rows x 6 columns]

In [268]:
df.sort_values(by=["year","life_exp"],ascending=[True,False])

          country  year  population continent  life_exp       gdp_cap
1140       Norway  1952     3327728    Europe     72.67  10095.421720
684       Iceland  1952      147962    Europe     72.49   7267.688428
1080  Netherlands  1952    10381988    Europe     72.13   8941.571858
1464       Sweden  1952     7124673    Europe     71.86   8527.844662
408       Denmark  1952     4334000    Europe     70.78   9692.385245
...           ...   ...         ...       ...       ...           ...
1705     Srilanka  2022     1320000      Asia     62.00   2100.000000
1706     Srilanka  2022     1320000      Asia     62.00   2100.000000
1707        India  2023   140000000      Asia     61.90   2000.432400
1708        India  2023   140000000      Asia     61.90   2000.432400
1709        India  2023   140000000      Asia     61.90   2000.432400

[1710 rows x 6 columns]

In [269]:
df.sort_values(by=["year"])

          country  year  population continent  life_exp       gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801    779.445314
180      Bulgaria  1952     7274900    Europe    59.600   2444.286648
1092  New Zealand  1952     1994794   Oceania    69.390  10556.575660
1080  Netherlands  1952    10381988    Europe    72.130   8941.571858
1068        Nepal  1952     9182536      Asia    36.157    545.865723
...           ...   ...         ...       ...       ...           ...
1704     Srilanka  2022     1320000      Asia    62.000   2100.000000
1706     Srilanka  2022     1320000      Asia    62.000   2100.000000
1708        India  2023   140000000      Asia    61.900   2000.432400
1707        India  2023   140000000      Asia    61.900   2000.432400
1709        India  2023   140000000      Asia    61.900   2000.432400

[1710 rows x 6 columns]

In [270]:
users=pd.DataFrame({"user_id":[1,2,3,4],
                   "name":["vaibhav","aman","satyam","rutuja"]})
users

   user_id     name
0        1  vaibhav
1        2     aman
2        3   satyam
3        4   rutuja

In [271]:
messages =pd.DataFrame({"user_id":[1,1,2,4,3],
                       "msg":["hmm","acha","theek hai","nice","Go to hell"]})
messages

   user_id         msg
0        1         hmm
1        1        acha
2        2   theek hai
3        4        nice
4        3  Go to hell

In [272]:
pd.concat([users,messages])

   user_id     name         msg
0        1  vaibhav         NaN
1        2     aman         NaN
2        3   satyam         NaN
3        4   rutuja         NaN
0        1      NaN         hmm
1        1      NaN        acha
2        2      NaN   theek hai
3        4      NaN        nice
4        3      NaN  Go to hell

In [273]:
pd.concat([users,messages],axis=1)

   user_id     name  user_id         msg
0      1.0  vaibhav        1         hmm
1      2.0     aman        1        acha
2      3.0   satyam        2   theek hai
3      4.0   rutuja        4        nice
4      NaN      NaN        3  Go to hell

In [274]:
pd.concat?

In [275]:
df

          country  year  population continent  life_exp      gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801   779.445314
1     Afghanistan  1957     9240934      Asia    30.332   820.853030
2     Afghanistan  1962    10267083      Asia    31.997   853.100710
3     Afghanistan  1967    11537966      Asia    34.020   836.197138
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
...           ...   ...         ...       ...       ...          ...
1705     Srilanka  2022     1320000      Asia    62.000  2100.000000
1706     Srilanka  2022     1320000      Asia    62.000  2100.000000
1707        India  2023   140000000      Asia    61.900  2000.432400
1708        India  2023   140000000      Asia    61.900  2000.432400
1709        India  2023   140000000      Asia    61.900  2000.432400

[1710 rows x 6 columns]

In [276]:
df.set_index("continent")

               country  year  population  life_exp      gdp_cap
continent
Asia       Afghanistan  1952     8425333    28.801   779.445314
Asia       Afghanistan  1957     9240934    30.332   820.853030
Asia       Afghanistan  1962    10267083    31.997   853.100710
Asia       Afghanistan  1967    11537966    34.020   836.197138
Asia       Afghanistan  1972    13079460    36.088   739.981106
...                ...   ...         ...       ...          ...
Asia          Srilanka  2022     1320000    62.000  2100.000000
Asia          Srilanka  2022     1320000    62.000  2100.000000
Asia             India  2023   140000000    61.900  2000.432400
Asia             India  2023   140000000    61.900  2000.432400
Asia             India  2023   140000000    61.900  2000.432400

[1710 rows x 5 columns]

In [277]:
df

          country  year  population continent  life_exp      gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801   779.445314
1     Afghanistan  1957     9240934      Asia    30.332   820.853030
2     Afghanistan  1962    10267083      Asia    31.997   853.100710
3     Afghanistan  1967    11537966      Asia    34.020   836.197138
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
...           ...   ...         ...       ...       ...          ...
1705     Srilanka  2022     1320000      Asia    62.000  2100.000000
1706     Srilanka  2022     1320000      Asia    62.000  2100.000000
1707        India  2023   140000000      Asia    61.900  2000.432400
1708        India  2023   140000000      Asia    61.900  2000.432400
1709        India  2023   140000000      Asia    61.900  2000.432400

[1710 rows x 6 columns]

In [278]:
users

   user_id     name
0        1  vaibhav
1        2     aman
2        3   satyam
3        4   rutuja

In [279]:
messages

   user_id         msg
0        1         hmm
1        1        acha
2        2   theek hai
3        4        nice
4        3  Go to hell

In [280]:
users.merge(messages,on="user_id",how="inner")

   user_id     name         msg
0        1  vaibhav         hmm
1        1  vaibhav        acha
2        2     aman   theek hai
3        3   satyam  Go to hell
4        4   rutuja        nice

In [283]:
df

          country  year  population continent  life_exp      gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801   779.445314
1     Afghanistan  1957     9240934      Asia    30.332   820.853030
2     Afghanistan  1962    10267083      Asia    31.997   853.100710
3     Afghanistan  1967    11537966      Asia    34.020   836.197138
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
...           ...   ...         ...       ...       ...          ...
1705     Srilanka  2022     1320000      Asia    62.000  2100.000000
1706     Srilanka  2022     1320000      Asia    62.000  2100.000000
1707        India  2023   140000000      Asia    61.900  2000.432400
1708        India  2023   140000000      Asia    61.900  2000.432400
1709        India  2023   140000000      Asia    61.900  2000.432400

[1710 rows x 6 columns]

In [288]:
df.iloc[::,0:6:2]

          country  population  life_exp
0     Afghanistan     8425333    28.801
1     Afghanistan     9240934    30.332
2     Afghanistan    10267083    31.997
3     Afghanistan    11537966    34.020
4     Afghanistan    13079460    36.088
...           ...         ...       ...
1705     Srilanka     1320000    62.000
1706     Srilanka     1320000    62.000
1707        India   140000000    61.900
1708        India   140000000    61.900
1709        India   140000000    61.900

[1710 rows x 3 columns]

In [289]:
df.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [291]:
df.loc[1:10,"country":"continent"]

        country  year  population continent
1   Afghanistan  1957     9240934      Asia
2   Afghanistan  1962    10267083      Asia
3   Afghanistan  1967    11537966      Asia
4   Afghanistan  1972    13079460      Asia
5   Afghanistan  1977    14880372      Asia
6   Afghanistan  1982    12881816      Asia
7   Afghanistan  1987    13867957      Asia
8   Afghanistan  1992    16317921      Asia
9   Afghanistan  1997    22227415      Asia
10  Afghanistan  2002    25268405      Asia

In [292]:
df.drop([1,2,3],axis=0)

          country  year  population continent  life_exp      gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801   779.445314
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
5     Afghanistan  1977    14880372      Asia    38.438   786.113360
6     Afghanistan  1982    12881816      Asia    39.854   978.011439
7     Afghanistan  1987    13867957      Asia    40.822   852.395945
...           ...   ...         ...       ...       ...          ...
1705     Srilanka  2022     1320000      Asia    62.000  2100.000000
1706     Srilanka  2022     1320000      Asia    62.000  2100.000000
1707        India  2023   140000000      Asia    61.900  2000.432400
1708        India  2023   140000000      Asia    61.900  2000.432400
1709        India  2023   140000000      Asia    61.900  2000.432400

[1707 rows x 6 columns]

In [295]:
df.drop(index=[1,2,3])

          country  year  population continent  life_exp      gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801   779.445314
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
5     Afghanistan  1977    14880372      Asia    38.438   786.113360
6     Afghanistan  1982    12881816      Asia    39.854   978.011439
7     Afghanistan  1987    13867957      Asia    40.822   852.395945
...           ...   ...         ...       ...       ...          ...
1705     Srilanka  2022     1320000      Asia    62.000  2100.000000
1706     Srilanka  2022     1320000      Asia    62.000  2100.000000
1707        India  2023   140000000      Asia    61.900  2000.432400
1708        India  2023   140000000      Asia    61.900  2000.432400
1709        India  2023   140000000      Asia    61.900  2000.432400

[1707 rows x 6 columns]

In [296]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1705     True
1706     True
1707    False
1708     True
1709     True
Length: 1710, dtype: bool

In [298]:
df.duplicated().tail(10)

1700    False
1701    False
1702    False
1703    False
1704    False
1705     True
1706     True
1707    False
1708     True
1709     True
dtype: bool

In [299]:
df.loc[df.duplicated()]

       country  year  population continent  life_exp    gdp_cap
1705  Srilanka  2022     1320000      Asia      62.0  2100.0000
1706  Srilanka  2022     1320000      Asia      62.0  2100.0000
1708     India  2023   140000000      Asia      61.9  2000.4324
1709     India  2023   140000000      Asia      61.9  2000.4324

In [301]:
df.loc[df.duplicated()].index.values

array([1705, 1706, 1708, 1709])

In [303]:
df.loc[df["continent"]=="Asia"].index.values

array([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
         11,   84,   85,   86,   87,   88,   89,   90,   91,   92,   93,
         94,   95,   96,   97,   98,   99,  100,  101,  102,  103,  104,
        105,  106,  107,  216,  217,  218,  219,  220,  221,  222,  223,
        224,  225,  226,  227,  288,  289,  290,  291,  292,  293,  294,
        295,  296,  297,  298,  299,  660,  661,  662,  663,  664,  665,
        666,  667,  668,  669,  670,  671,  696,  697,  698,  699,  700,
        701,  702,  703,  704,  705,  706,  707,  708,  709,  710,  711,
        712,  713,  714,  715,  716,  717,  718,  719,  720,  721,  722,
        723,  724,  725,  726,  727,  728,  729,  730,  731,  732,  733,
        734,  735,  736,  737,  738,  739,  740,  741,  742,  743,  756,
        757,  758,  759,  760,  761,  762,  763,  764,  765,  766,  767,
        792,  793,  794,  795,  796,  797,  798,  799,  800,  801,  802,
        803,  804,  805,  806,  807,  808,  809,  810,  811,  812,  813,
        814,  815,  828,  829,  830,  831,  832,  833,  834,  835,  836,
        837,  838,  839,  840,  841,  842,  843,  844,  845,  846,  847,
        848,  849,  850,  851,  852,  853,  854,  855,  856,  857,  858,
        859,  860,  861,  862,  863,  864,  865,  866,  867,  868,  869,
        870,  871,  872,  873,  874,  875,  936,  937,  938,  939,  940,
        941,  942,  943,  944,  945,  946,  947,  996,  997,  998,  999,
       1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1044, 1045, 1046,
       1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1068, 1069,
       1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1152,
       1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163,
       1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174,
       1175, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221,
       1222, 1223, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316,
       1317, 1318, 1319, 1356, 1357, 1358, 1359, 1360, 1361, 1362, 1363,
       1364, 1365, 1366, 1367, 1428, 1429, 1430, 1431, 1432, 1433, 1434,
       1435, 1436, 1437, 1438, 1439, 1488, 1489, 1490, 1491, 1492, 1493,
       1494, 1495, 1496, 1497, 1498, 1499, 1500, 1501, 1502, 1503, 1504,
       1505, 1506, 1507, 1508, 1509, 1510, 1511, 1524, 1525, 1526, 1527,
       1528, 1529, 1530, 1531, 1532, 1533, 1534, 1535, 1644, 1645, 1646,
       1647, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657,
       1658, 1659, 1660, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668,
       1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1679,
       1704, 1705, 1706, 1707, 1708, 1709])

In [304]:
df.duplicated(subset=["country"])

0       False
1        True
2        True
3        True
4        True
        ...
1705     True
1706     True
1707     True
1708     True
1709     True
Length: 1710, dtype: bool

In [305]:
df.loc[df.duplicated(subset=["country"])]

          country  year  population continent  life_exp      gdp_cap
1     Afghanistan  1957     9240934      Asia    30.332   820.853030
2     Afghanistan  1962    10267083      Asia    31.997   853.100710
3     Afghanistan  1967    11537966      Asia    34.020   836.197138
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
5     Afghanistan  1977    14880372      Asia    38.438   786.113360
...           ...   ...         ...       ...       ...          ...
1705     Srilanka  2022     1320000      Asia    62.000  2100.000000
1706     Srilanka  2022     1320000      Asia    62.000  2100.000000
1707        India  2023   140000000      Asia    61.900  2000.432400
1708        India  2023   140000000      Asia    61.900  2000.432400
1709        India  2023   140000000      Asia    61.900  2000.432400

[1567 rows x 6 columns]

In [306]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1705     True
1706     True
1707    False
1708     True
1709     True
Length: 1710, dtype: bool

In [308]:
df.loc[df.duplicated()]

       country  year  population continent  life_exp    gdp_cap
1705  Srilanka  2022     1320000      Asia      62.0  2100.0000
1706  Srilanka  2022     1320000      Asia      62.0  2100.0000
1708     India  2023   140000000      Asia      61.9  2000.4324
1709     India  2023   140000000      Asia      61.9  2000.4324

In [310]:
df.loc[df.duplicated()].index.values

array([1705, 1706, 1708, 1709])

In [311]:
df.duplicated(subset=["country"])

0       False
1        True
2        True
3        True
4        True
        ...
1705     True
1706     True
1707     True
1708     True
1709     True
Length: 1710, dtype: bool

In [312]:
df.loc[df.duplicated(subset=["country"])]

          country  year  population continent  life_exp      gdp_cap
1     Afghanistan  1957     9240934      Asia    30.332   820.853030
2     Afghanistan  1962    10267083      Asia    31.997   853.100710
3     Afghanistan  1967    11537966      Asia    34.020   836.197138
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
5     Afghanistan  1977    14880372      Asia    38.438   786.113360
...           ...   ...         ...       ...       ...          ...
1705     Srilanka  2022     1320000      Asia    62.000  2100.000000
1706     Srilanka  2022     1320000      Asia    62.000  2100.000000
1707        India  2023   140000000      Asia    61.900  2000.432400
1708        India  2023   140000000      Asia    61.900  2000.432400
1709        India  2023   140000000      Asia    61.900  2000.432400

[1567 rows x 6 columns]

In [313]:
df.duplicated(subset=["country","year"])

0       False
1       False
2       False
3       False
4       False
        ...
1705     True
1706     True
1707    False
1708     True
1709     True
Length: 1710, dtype: bool

In [314]:
df.loc[df.duplicated(subset=["country","year"])]

       country  year  population continent  life_exp    gdp_cap
1705  Srilanka  2022     1320000      Asia      62.0  2100.0000
1706  Srilanka  2022     1320000      Asia      62.0  2100.0000
1708     India  2023   140000000      Asia      61.9  2000.4324
1709     India  2023   140000000      Asia      61.9  2000.4324

In [315]:
df.duplicated().tail(10)

1700    False
1701    False
1702    False
1703    False
1704    False
1705     True
1706     True
1707    False
1708     True
1709     True
dtype: bool

In [318]:
df.loc[df.duplicated()].tail(10)

       country  year  population continent  life_exp    gdp_cap
1705  Srilanka  2022     1320000      Asia      62.0  2100.0000
1706  Srilanka  2022     1320000      Asia      62.0  2100.0000
1708     India  2023   140000000      Asia      61.9  2000.4324
1709     India  2023   140000000      Asia      61.9  2000.4324

In [319]:
df.tail(10)

       country  year  population continent  life_exp      gdp_cap
1700  Zimbabwe  1992    10704340    Africa    60.377   693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809   792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989   672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487   469.709298
1704  Srilanka  2022     1320000      Asia    62.000  2100.000000
1705  Srilanka  2022     1320000      Asia    62.000  2100.000000
1706  Srilanka  2022     1320000      Asia    62.000  2100.000000
1707     India  2023   140000000      Asia    61.900  2000.432400
1708     India  2023   140000000      Asia    61.900  2000.432400
1709     India  2023   140000000      Asia    61.900  2000.432400

In [320]:
df.drop_duplicates(keep="first")

          country  year  population continent  life_exp      gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801   779.445314
1     Afghanistan  1957     9240934      Asia    30.332   820.853030
2     Afghanistan  1962    10267083      Asia    31.997   853.100710
3     Afghanistan  1967    11537966      Asia    34.020   836.197138
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
...           ...   ...         ...       ...       ...          ...
1701     Zimbabwe  1997    11404948    Africa    46.809   792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989   672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487   469.709298
1704     Srilanka  2022     1320000      Asia    62.000  2100.000000
1707        India  2023   140000000      Asia    61.900  2000.432400

[1706 rows x 6 columns]

In [321]:
df.drop_duplicates(keep="last")

          country  year  population continent  life_exp      gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801   779.445314
1     Afghanistan  1957     9240934      Asia    30.332   820.853030
2     Afghanistan  1962    10267083      Asia    31.997   853.100710
3     Afghanistan  1967    11537966      Asia    34.020   836.197138
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
...           ...   ...         ...       ...       ...          ...
1701     Zimbabwe  1997    11404948    Africa    46.809   792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989   672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487   469.709298
1706     Srilanka  2022     1320000      Asia    62.000  2100.000000
1709        India  2023   140000000      Asia    61.900  2000.432400

[1706 rows x 6 columns]

In [322]:
df.drop_duplicates(subset=["country"],keep="last")

          country  year  population continent  life_exp       gdp_cap
11    Afghanistan  2007    31889923      Asia    43.828    974.580338
23        Albania  2007     3600523    Europe    76.423   5937.029526
35        Algeria  2007    33333216    Africa    72.301   6223.367465
47         Angola  2007    12420476    Africa    42.731   4797.231267
59      Argentina  2007    40301927  Americas    75.320  12779.379640
...           ...   ...         ...       ...       ...           ...
1679  Yemen, Rep.  2007    22211743      Asia    62.698   2280.769906
1691       Zambia  2007    11746035    Africa    42.384   1271.211593
1703     Zimbabwe  2007    12311143    Africa    43.487    469.709298
1706     Srilanka  2022     1320000      Asia    62.000   2100.000000
1709        India  2023   140000000      Asia    61.900   2000.432400

[143 rows x 6 columns]

In [323]:
df

          country  year  population continent  life_exp      gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801   779.445314
1     Afghanistan  1957     9240934      Asia    30.332   820.853030
2     Afghanistan  1962    10267083      Asia    31.997   853.100710
3     Afghanistan  1967    11537966      Asia    34.020   836.197138
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
...           ...   ...         ...       ...       ...          ...
1705     Srilanka  2022     1320000      Asia    62.000  2100.000000
1706     Srilanka  2022     1320000      Asia    62.000  2100.000000
1707        India  2023   140000000      Asia    61.900  2000.432400
1708        India  2023   140000000      Asia    61.900  2000.432400
1709        India  2023   140000000      Asia    61.900  2000.432400

[1710 rows x 6 columns]

In [324]:
df.sort_values(by=["year"],ascending=True)

          country  year  population continent  life_exp       gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801    779.445314
180      Bulgaria  1952     7274900    Europe    59.600   2444.286648
1092  New Zealand  1952     1994794   Oceania    69.390  10556.575660
1080  Netherlands  1952    10381988    Europe    72.130   8941.571858
1068        Nepal  1952     9182536      Asia    36.157    545.865723
...           ...   ...         ...       ...       ...           ...
1704     Srilanka  2022     1320000      Asia    62.000   2100.000000
1706     Srilanka  2022     1320000      Asia    62.000   2100.000000
1708        India  2023   140000000      Asia    61.900   2000.432400
1707        India  2023   140000000      Asia    61.900   2000.432400
1709        India  2023   140000000      Asia    61.900   2000.432400

[1710 rows x 6 columns]

In [325]:
df.sort_values(by=["year","life_exp"],ascending=True)

           country  year  population continent  life_exp      gdp_cap
0      Afghanistan  1952     8425333      Asia    28.801   779.445314
552         Gambia  1952      284320    Africa    30.000   485.230659
36          Angola  1952     4232095    Africa    30.015  3520.610273
1344  Sierra Leone  1952     2143249    Africa    30.331   879.787736
1032    Mozambique  1952     6446316    Africa    31.286   468.526038
...            ...   ...         ...       ...       ...          ...
1705      Srilanka  2022     1320000      Asia    62.000  2100.000000
1706      Srilanka  2022     1320000      Asia    62.000  2100.000000
1707         India  2023   140000000      Asia    61.900  2000.432400
1708         India  2023   140000000      Asia    61.900  2000.432400
1709         India  2023   140000000      Asia    61.900  2000.432400

[1710 rows x 6 columns]

In [326]:
df.sort_values(by=["year","life_exp"],ascending=[True,False])

          country  year  population continent  life_exp       gdp_cap
1140       Norway  1952     3327728    Europe     72.67  10095.421720
684       Iceland  1952      147962    Europe     72.49   7267.688428
1080  Netherlands  1952    10381988    Europe     72.13   8941.571858
1464       Sweden  1952     7124673    Europe     71.86   8527.844662
408       Denmark  1952     4334000    Europe     70.78   9692.385245
...           ...   ...         ...       ...       ...           ...
1705     Srilanka  2022     1320000      Asia     62.00   2100.000000
1706     Srilanka  2022     1320000      Asia     62.00   2100.000000
1707        India  2023   140000000      Asia     61.90   2000.432400
1708        India  2023   140000000      Asia     61.90   2000.432400
1709        India  2023   140000000      Asia     61.90   2000.432400

[1710 rows x 6 columns]

In [327]:
users

   user_id     name
0        1  vaibhav
1        2     aman
2        3   satyam
3        4   rutuja

In [329]:
messages

   user_id         msg
0        1         hmm
1        1        acha
2        2   theek hai
3        4        nice
4        3  Go to hell

In [330]:
pd.concat([users,messages])

   user_id     name         msg
0        1  vaibhav         NaN
1        2     aman         NaN
2        3   satyam         NaN
3        4   rutuja         NaN
0        1      NaN         hmm
1        1      NaN        acha
2        2      NaN   theek hai
3        4      NaN        nice
4        3      NaN  Go to hell

In [331]:
pd.concat([users,messages],axis=1)

   user_id     name  user_id         msg
0      1.0  vaibhav        1         hmm
1      2.0     aman        1        acha
2      3.0   satyam        2   theek hai
3      4.0   rutuja        4        nice
4      NaN      NaN        3  Go to hell

In [332]:
df.head()

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [333]:
df.set_index("continent")

               country  year  population  life_exp      gdp_cap
continent
Asia       Afghanistan  1952     8425333    28.801   779.445314
Asia       Afghanistan  1957     9240934    30.332   820.853030
Asia       Afghanistan  1962    10267083    31.997   853.100710
Asia       Afghanistan  1967    11537966    34.020   836.197138
Asia       Afghanistan  1972    13079460    36.088   739.981106
...                ...   ...         ...       ...          ...
Asia          Srilanka  2022     1320000    62.000  2100.000000
Asia          Srilanka  2022     1320000    62.000  2100.000000
Asia             India  2023   140000000    61.900  2000.432400
Asia             India  2023   140000000    61.900  2000.432400
Asia             India  2023   140000000    61.900  2000.432400

[1710 rows x 5 columns]

In [334]:
df

          country  year  population continent  life_exp      gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801   779.445314
1     Afghanistan  1957     9240934      Asia    30.332   820.853030
2     Afghanistan  1962    10267083      Asia    31.997   853.100710
3     Afghanistan  1967    11537966      Asia    34.020   836.197138
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
...           ...   ...         ...       ...       ...          ...
1705     Srilanka  2022     1320000      Asia    62.000  2100.000000
1706     Srilanka  2022     1320000      Asia    62.000  2100.000000
1707        India  2023   140000000      Asia    61.900  2000.432400
1708        India  2023   140000000      Asia    61.900  2000.432400
1709        India  2023   140000000      Asia    61.900  2000.432400

[1710 rows x 6 columns]

In [335]:
users

   user_id     name
0        1  vaibhav
1        2     aman
2        3   satyam
3        4   rutuja

In [336]:
messages

   user_id         msg
0        1         hmm
1        1        acha
2        2   theek hai
3        4        nice
4        3  Go to hell

In [337]:
users.merge(messages,on="user_id")

   user_id     name         msg
0        1  vaibhav         hmm
1        1  vaibhav        acha
2        2     aman   theek hai
3        3   satyam  Go to hell
4        4   rutuja        nice

In [338]:
users.merge(messages,on="user_id",how="left")

   user_id     name         msg
0        1  vaibhav         hmm
1        1  vaibhav        acha
2        2     aman   theek hai
3        3   satyam  Go to hell
4        4   rutuja        nice

In [339]:
users.merge(messages,on="user_id",how="right")

   user_id     name         msg
0        1  vaibhav         hmm
1        1  vaibhav        acha
2        2     aman   theek hai
3        4   rutuja        nice
4        3   satyam  Go to hell

In [340]:
users.merge(messages,on="user_id",how="inner")

   user_id     name         msg
0        1  vaibhav         hmm
1        1  vaibhav        acha
2        2     aman   theek hai
3        3   satyam  Go to hell
4        4   rutuja        nice

In [341]:
users.merge(messages,on="user_id",how="outer")

   user_id     name         msg
0        1  vaibhav         hmm
1        1  vaibhav        acha
2        2     aman   theek hai
3        3   satyam  Go to hell
4        4   rutuja        nice

In [342]:
messages

   user_id         msg
0        1         hmm
1        1        acha
2        2   theek hai
3        4        nice
4        3  Go to hell

In [343]:
messages.rename(columns={"user_id":"id"},inplace=True)

In [344]:
messages

   id         msg
0   1         hmm
1   1        acha
2   2   theek hai
3   4        nice
4   3  Go to hell

In [345]:
users.merge(messages,left_on="user_id",right_on="id")

   user_id     name  id         msg
0        1  vaibhav   1         hmm
1        1  vaibhav   1        acha
2        2     aman   2   theek hai
3        3   satyam   3  Go to hell
4        4   rutuja   4        nice

In [346]:
users.merge(messages,left_on="user_id",right_on="id",how="inner")

   user_id     name  id         msg
0        1  vaibhav   1         hmm
1        1  vaibhav   1        acha
2        2     aman   2   theek hai
3        3   satyam   3  Go to hell
4        4   rutuja   4        nice

In [347]:
mov

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday
1461,48370,27000,19,3151130,Clerks,7.4,755,5369,1994,Sep,Tuesday
1462,48375,0,7,0,Rampage,6.0,131,5148,2009,Aug,Friday
1463,48376,0,3,0,Slacker,6.4,77,5535,1990,Jul,Friday
1464,48395,220000,14,2040920,El Mariachi,6.6,238,5097,1992,Sep,Friday

In [348]:
dire

          director_name    id gender
0         James Cameron  4762   Male
1        Gore Verbinski  4763   Male
2            Sam Mendes  4764   Male
3     Christopher Nolan  4765   Male
4        Andrew Stanton  4766   Male
...                 ...   ...    ...
2344      Shane Carruth  7106   Male
2345   Neill Dela Llana  7107    NaN
2346        Scott Smith  7108    NaN
2347        Daniel Hsia  7109   Male
2348   Brian Herzlinger  7110   Male

[2349 rows x 3 columns]

In [349]:
df=mov.merge(dire,left_on="director_id",right_on="id")

In [350]:
df

,id_x,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,id_y,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,4762,Male
1,43622,200000000,100,1845034188,Titanic,7.5,7562,4762,1997,Nov,Tuesday,James Cameron,4762,Male
2,43876,100000000,101,520000000,Terminator 2: Judgment Day,7.7,4185,4762,1991,Jul,Monday,James Cameron,4762,Male
3,43879,115000000,38,378882411,True Lies,6.8,1116,4762,1994,Jul,Thursday,James Cameron,4762,Male
4,44184,70000000,24,90000098,The Abyss,7.1,808,4762,1989,Aug,Wednesday,James Cameron,4762,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,46859,0,14,25288872,Enough Said,6.6,348,6204,2013,Sep,Wednesday,Nicole Holofcener,6204,Female
1461,47023,6500000,11,13368437,Friends with Money,5.1,128,6204,2006,Sep,Thursday,Nicole Holofcener,6204,Female
1462,47524,3000000,5,0,Please Give,6.0,57,6204,2010,Jan,Friday,Nicole Holofcener,6204,Female
1463,47962,0,0,0,Walking and Talking,6.6,7,6204,1996,Jul,Wednesday,Nicole Holofcener,6204,Female
1464,48229,250000,1,4186931,Lovely & Amazing,6.3,23,6204,2001,Aug,Friday,Nicole Holofcener,6204,Female

In [352]:
df.drop({"id_x","id_y"},axis=1,inplace=True)

In [353]:
df

,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
0,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,Male
1,200000000,100,1845034188,Titanic,7.5,7562,4762,1997,Nov,Tuesday,James Cameron,Male
2,100000000,101,520000000,Terminator 2: Judgment Day,7.7,4185,4762,1991,Jul,Monday,James Cameron,Male
3,115000000,38,378882411,True Lies,6.8,1116,4762,1994,Jul,Thursday,James Cameron,Male
4,70000000,24,90000098,The Abyss,7.1,808,4762,1989,Aug,Wednesday,James Cameron,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1460,0,14,25288872,Enough Said,6.6,348,6204,2013,Sep,Wednesday,Nicole Holofcener,Female
1461,6500000,11,13368437,Friends with Money,5.1,128,6204,2006,Sep,Thursday,Nicole Holofcener,Female
1462,3000000,5,0,Please Give,6.0,57,6204,2010,Jan,Friday,Nicole Holofcener,Female
1463,0,0,0,Walking and Talking,6.6,7,6204,1996,Jul,Wednesday,Nicole Holofcener,Female
1464,250000,1,4186931,Lovely & Amazing,6.3,23,6204,2001,Aug,Friday,Nicole Holofcener,Female

In [354]:
df["budget"]=(df["budget"]/1000000).round(2)

In [355]:
df

,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
0,237.00,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,Male
1,200.00,100,1845034188,Titanic,7.5,7562,4762,1997,Nov,Tuesday,James Cameron,Male
2,100.00,101,520000000,Terminator 2: Judgment Day,7.7,4185,4762,1991,Jul,Monday,James Cameron,Male
3,115.00,38,378882411,True Lies,6.8,1116,4762,1994,Jul,Thursday,James Cameron,Male
4,70.00,24,90000098,The Abyss,7.1,808,4762,1989,Aug,Wednesday,James Cameron,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1460,0.00,14,25288872,Enough Said,6.6,348,6204,2013,Sep,Wednesday,Nicole Holofcener,Female
1461,6.50,11,13368437,Friends with Money,5.1,128,6204,2006,Sep,Thursday,Nicole Holofcener,Female
1462,3.00,5,0,Please Give,6.0,57,6204,2010,Jan,Friday,Nicole Holofcener,Female
1463,0.00,0,0,Walking and Talking,6.6,7,6204,1996,Jul,Wednesday,Nicole Holofcener,Female
1464,0.25,1,4186931,Lovely & Amazing,6.3,23,6204,2001,Aug,Friday,Nicole Holofcener,Female

In [356]:
df["revenue"]=(df["revenue"]/1000000).round(2)

In [357]:
df.head()

,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
0,237.0,150,2787.97,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,Male
1,200.0,100,1845.03,Titanic,7.5,7562,4762,1997,Nov,Tuesday,James Cameron,Male
2,100.0,101,520.00,Terminator 2: Judgment Day,7.7,4185,4762,1991,Jul,Monday,James Cameron,Male
3,115.0,38,378.88,True Lies,6.8,1116,4762,1994,Jul,Thursday,James Cameron,Male
4,70.0,24,90.00,The Abyss,7.1,808,4762,1989,Aug,Wednesday,James Cameron,Male

In [358]:
df.sort_values(by=["popularity"],ascending=False)

,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
23,165.0,724,675.12,Interstellar,8.1,10867,4765,2014,Nov,Wednesday,Christopher Nolan,Male
361,150.0,434,378.86,Mad Max: Fury Road,7.2,9427,4845,2015,May,Wednesday,George Miller,Male
11,140.0,271,655.01,Pirates of the Caribbean: The Curse of the Bla...,7.5,6985,4763,2003,Jul,Wednesday,Gore Verbinski,Male
315,125.0,206,752.10,The Hunger Games: Mockingjay - Part 1,6.6,5584,4831,2014,Nov,Tuesday,Francis Lawrence,Male
22,185.0,187,1004.56,The Dark Knight,8.2,12002,4765,2008,Jul,Wednesday,Christopher Nolan,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
62,0.5,0,0.00,Everything Put Together,5.0,2,4773,2001,Nov,Friday,Marc Forster,Male
1448,0.0,0,0.00,Twin Falls Idaho,7.0,11,5951,1999,Jul,Friday,Michael Polish,Male
384,0.0,0,0.00,The Magic Flute,6.9,6,4847,2006,Sep,Thursday,Kenneth Branagh,Male
1434,14.0,0,2.47,Jefferson in Paris,5.2,10,5826,1995,Mar,Friday,James Ivory,Male
1378,0.0,0,0.00,Chuck & Buck,5.7,16,5519,2000,Jan,Friday,Miguel Arteta,Male

In [359]:
df.sort_values(by=["popularity"],ascending=False).head(5)

,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
23,165.0,724,675.12,Interstellar,8.1,10867,4765,2014,Nov,Wednesday,Christopher Nolan,Male
361,150.0,434,378.86,Mad Max: Fury Road,7.2,9427,4845,2015,May,Wednesday,George Miller,Male
11,140.0,271,655.01,Pirates of the Caribbean: The Curse of the Bla...,7.5,6985,4763,2003,Jul,Wednesday,Gore Verbinski,Male
315,125.0,206,752.10,The Hunger Games: Mockingjay - Part 1,6.6,5584,4831,2014,Nov,Tuesday,Francis Lawrence,Male
22,185.0,187,1004.56,The Dark Knight,8.2,12002,4765,2008,Jul,Wednesday,Christopher Nolan,Male

In [365]:
df.loc[(df["day"]=="Monday") | (df["day"]=="Friday")]

,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
2,100.00,101,520.00,Terminator 2: Judgment Day,7.7,4185,4762,1991,Jul,Monday,James Cameron,Male
5,18.50,67,183.32,Aliens,7.7,3220,4762,1986,Jul,Friday,James Cameron,Male
6,6.40,74,78.37,The Terminator,7.3,4128,4762,1984,Oct,Friday,James Cameron,Male
14,245.00,107,880.67,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,Male
16,80.00,49,181.00,Road to Perdition,7.3,1077,4764,2002,Jul,Friday,Sam Mendes,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1455,10.00,33,163.88,Saw III,6.1,1071,6056,2006,Oct,Friday,Darren Lynn Bousman,Male
1457,0.00,5,0.19,Repo! The Genetic Opera,6.7,100,6056,2008,Jul,Friday,Darren Lynn Bousman,Male
1458,4.00,42,152.93,Saw II,6.3,1251,6056,2005,Oct,Friday,Darren Lynn Bousman,Male
1462,3.00,5,0.00,Please Give,6.0,57,6204,2010,Jan,Friday,Nicole Holofcener,Female
1464,0.25,1,4.19,Lovely & Amazing,6.3,23,6204,2001,Aug,Friday,Nicole Holofcener,Female

In [363]:
df["day"].unique()

array(['Thursday', 'Tuesday', 'Monday', 'Wednesday', 'Friday', 'Saturday',
       'Sunday'], dtype=object)

In [366]:
df["day"].isin(["Friday","Monday"])

0       False
1       False
2        True
3       False
4       False
        ...
1460    False
1461    False
1462     True
1463    False
1464     True
Name: day, Length: 1465, dtype: bool

In [367]:
df.loc[df["day"].isin(["Friday","Monday"])]

,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
2,100.00,101,520.00,Terminator 2: Judgment Day,7.7,4185,4762,1991,Jul,Monday,James Cameron,Male
5,18.50,67,183.32,Aliens,7.7,3220,4762,1986,Jul,Friday,James Cameron,Male
6,6.40,74,78.37,The Terminator,7.3,4128,4762,1984,Oct,Friday,James Cameron,Male
14,245.00,107,880.67,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,Male
16,80.00,49,181.00,Road to Perdition,7.3,1077,4764,2002,Jul,Friday,Sam Mendes,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1455,10.00,33,163.88,Saw III,6.1,1071,6056,2006,Oct,Friday,Darren Lynn Bousman,Male
1457,0.00,5,0.19,Repo! The Genetic Opera,6.7,100,6056,2008,Jul,Friday,Darren Lynn Bousman,Male
1458,4.00,42,152.93,Saw II,6.3,1251,6056,2005,Oct,Friday,Darren Lynn Bousman,Male
1462,3.00,5,0.00,Please Give,6.0,57,6204,2010,Jan,Friday,Nicole Holofcener,Female
1464,0.25,1,4.19,Lovely & Amazing,6.3,23,6204,2001,Aug,Friday,Nicole Holofcener,Female

In [368]:
df.sort_values(by=["year","vote_average"],ascending=[True,False])

,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
265,1.30,58,28.26,Taxi Driver,8.0,2535,4809,1976,Feb,Saturday,Martin Scorsese,Male
1415,3.80,17,23.69,Network,7.7,381,5615,1976,Nov,Monday,Sidney Lumet,NaN
439,2.80,25,60.92,The Omen,7.2,476,4866,1976,Jun,Sunday,Richard Donner,Male
1362,4.00,35,38.25,Annie Hall,7.8,1010,5457,1977,Apr,Tuesday,Woody Allen,Male
1243,0.01,20,7.00,Eraserhead,7.5,485,5265,1977,Mar,Saturday,David Lynch,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
425,140.00,56,150.68,Gods of Egypt,5.3,1277,4865,2016,Feb,Thursday,Alex Proyas,Male
217,165.00,48,389.68,Independence Day: Resurgence,4.9,2491,4803,2016,Jun,Wednesday,Roland Emmerich,Male
723,50.00,37,55.97,Zoolander 2,4.7,797,4960,2016,Feb,Saturday,Ben Stiller,Male
1317,5.00,8,0.00,Yoga Hosers,4.7,102,5369,2016,Jul,Friday,Kevin Smith,Male
645,18.00,10,0.00,I Am Wrath,4.5,179,4926,2016,Apr,Thursday,Chuck Russell,Male

In [371]:
df.drop_duplicates(subset=["day"])

,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
0,237.0,150,2787.97,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,Male
1,200.0,100,1845.03,Titanic,7.5,7562,4762,1997,Nov,Tuesday,James Cameron,Male
2,100.0,101,520.00,Terminator 2: Judgment Day,7.7,4185,4762,1991,Jul,Monday,James Cameron,Male
4,70.0,24,90.00,The Abyss,7.1,808,4762,1989,Aug,Wednesday,James Cameron,Male
5,18.5,67,183.32,Aliens,7.7,3220,4762,1986,Jul,Friday,James Cameron,Male
7,300.0,139,961.00,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,Male
35,30.0,45,90.81,Drag Me to Hell,6.2,966,4767,2009,Mar,Sunday,Sam Raimi,Male

In [372]:
df.drop_duplicates(subset="year")

,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
0,237.00,150,2787.97,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,Male
1,200.00,100,1845.03,Titanic,7.5,7562,4762,1997,Nov,Tuesday,James Cameron,Male
2,100.00,101,520.00,Terminator 2: Judgment Day,7.7,4185,4762,1991,Jul,Monday,James Cameron,Male
3,115.00,38,378.88,True Lies,6.8,1116,4762,1994,Jul,Thursday,James Cameron,Male
4,70.00,24,90.00,The Abyss,7.1,808,4762,1989,Aug,Wednesday,James Cameron,Male
5,18.50,67,183.32,Aliens,7.7,3220,4762,1986,Jul,Friday,James Cameron,Male
6,6.40,74,78.37,The Terminator,7.3,4128,4762,1984,Oct,Friday,James Cameron,Male
7,300.00,139,961.00,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,Male
8,200.00,145,1065.66,Pirates of the Caribbean: Dead Man's Chest,7.0,5246,4763,2006,Jun,Tuesday,Gore Verbinski,Male
9,255.00,49,89.29,The Lone Ranger,5.9,2311,4763,2013,Jul,Wednesday,Gore Verbinski,Male
10,135.00,29,245.72,Rango,6.6,2051,4763,2011,Mar,Wednesday,Gore Verbinski,Male
11,140.00,271,655.01,Pirates of the Caribbean: The Curse of the Bla...,7.5,6985,4763,2003,Jul,Wednesday,Gore Verbinski,Male
12,57.00,21,147.85,The Mexican,5.8,441,4763,2001,Mar,Thursday,Gore Verbinski,Male
13,20.00,14,12.48,The Weather Man,6.0,289,4763,2005,Oct,Thursday,Gore Verbinski,Male
14,245.00,107,880.67,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,Male
15,200.00,93,1108.56,Skyfall,6.9,7604,4764,2012,Oct,Thursday,Sam Mendes,Male
16,80.00,49,181.00,Road to Perdition,7.3,1077,4764,2002,Jul,Friday,Sam Mendes,Male
18,35.00,20,75.23,Revolutionary Road,6.7,796,4764,2008,Dec,Friday,Sam Mendes,Male
20,15.00,80,356.30,American Beauty,7.9,3313,4764,1999,Sep,Wednesday,Sam Mendes,Male
23,165.00,724,675.12,Interstellar,8.1,10867,4765,2014,Nov,Wednesday,Christopher Nolan,Male
24,160.00,167,825.53,Inception,8.1,13752,4765,2010,Jul,Wednesday,Christopher Nolan,Male
28,9.00,60,39.72,Memento,8.1,4028,4765,2000,Oct,Wednesday,Christopher Nolan,Male
30,200.00,35,783.77,Spider-Man 2,6.7,4321,4767,2004,Jun,Friday,Sam Raimi,Male
34,32.00,16,18.55,The Quick and the Dead,6.3,427,4767,1995,Feb,Thursday,Sam Raimi,Male
36,0.00,10,0.00,A Simple Plan,6.9,187,4767,1998,Dec,Friday,Sam Raimi,Male
37,11.00,33,0.00,Army of Darkness,7.3,838,4767,1992,Oct,Friday,Sam Raimi,Male
38,3.60,35,5.92,Evil Dead II,7.6,742,4767,1987,Mar,Friday,Sam Raimi,Male
39,0.35,35,29.40,The Evil Dead,7.3,894,4767,1981,Oct,Thursday,Sam Raimi,Male
40,250.00,155,873.26,Batman v Superman: Dawn of Justice,5.7,7004,4771,2016,Mar,Wednesday,Zack Snyder,Male
99,38.00,10,10.30,White Squall,6.3,86,4779,1996,Feb,Friday,Ridley Scott,Male
102,28.00,94,33.14,Blade Runner,7.9,3509,4779,1982,Jun,Friday,Ridley Scott,Male
104,11.00,94,104.93,Alien,7.9,4470,4779,1979,May,Friday,Ridley Scott,Male
127,20.00,47,53.00,Edward Scissorhands,7.5,3601,4785,1990,Dec,Wednesday,Tim Burton,Male
129,15.00,58,73.33,Beetlejuice,7.1,1444,4785,1988,Feb,Monday,Tim Burton,Male
198,63.00,40,920.10,Jurassic Park,7.6,4856,4799,1993,Jun,Friday,Steven Spielberg,Male
207,20.00,52,303.79,Close Encounters of the Third Kind,7.2,1098,4799,1977,Nov,Wednesday,Steven Spielberg,Male
208,15.00,17,146.29,The Color Purple,7.7,338,4799,1985,Dec,Wednesday,Steven Spielberg,Male
210,10.00,12,29.45,Twilight Zone: The Movie,6.2,161,4799,1983,Jun,Friday,Steven Spielberg,Male
261,18.00,35,23.00,Raging Bull,7.7,938,4809,1980,Nov,Friday,Martin Scorsese,Male
265,1.30,58,28.26,Taxi Driver,8.0,2535,4809,1976,Feb,Saturday,Martin Scorsese,Male
267,0.00,3,0.32,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,Male

In [373]:
df1=df.sort_values(by=["year"],ascending=True)

In [374]:
df1

,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
265,1.3,58,28.26,Taxi Driver,8.0,2535,4809,1976,Feb,Saturday,Martin Scorsese,Male
1415,3.8,17,23.69,Network,7.7,381,5615,1976,Nov,Monday,Sidney Lumet,NaN
439,2.8,25,60.92,The Omen,7.2,476,4866,1976,Jun,Sunday,Richard Donner,Male
668,5.0,11,0.00,Capricorn One,6.4,131,4935,1977,Dec,Saturday,Peter Hyams,Male
1168,0.6,10,0.00,The Kentucky Fried Movie,6.4,66,5217,1977,Aug,Wednesday,John Landis,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
211,185.0,65,343.47,Star Trek Beyond,6.6,2568,4802,2016,Jul,Thursday,Justin Lin,NaN
1220,29.0,19,48.90,Florence Foster Jenkins,6.6,392,5249,2016,May,Friday,Stephen Frears,NaN
50,178.0,139,543.93,X-Men: Apocalypse,6.4,4721,4772,2016,May,Wednesday,Bryan Singer,Male
1317,5.0,8,0.00,Yoga Hosers,4.7,102,5369,2016,Jul,Friday,Kevin Smith,Male
40,250.0,155,873.26,Batman v Superman: Dawn of Justice,5.7,7004,4771,2016,Mar,Wednesday,Zack Snyder,Male

In [376]:
df1.drop_duplicates(subset=["year"])

,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
265,1.30,58,28.26,Taxi Driver,8.0,2535,4809,1976,Feb,Saturday,Martin Scorsese,Male
668,5.00,11,0.00,Capricorn One,6.4,131,4935,1977,Dec,Saturday,Peter Hyams,Male
433,55.00,48,300.22,Superman,6.9,1022,4866,1978,Dec,Wednesday,Richard Donner,Male
367,0.40,33,100.00,Mad Max,6.6,1213,4845,1979,Apr,Thursday,George Miller,Male
1165,27.00,44,115.23,The Blues Brothers,7.5,1065,5217,1980,Jun,Tuesday,John Landis,Male
1254,28.00,26,195.31,For Your Eyes Only,6.3,490,5292,1981,Jun,Tuesday,John Glen,Male
1297,4.00,14,36.69,Friday the 13th Part III,5.7,254,5362,1982,Aug,Friday,Steve Miner,Male
210,10.00,12,29.45,Twilight Zone: The Movie,6.2,161,4799,1983,Jun,Friday,Steven Spielberg,Male
1097,58.00,8,25.93,The Cotton Club,6.6,68,5179,1984,Dec,Friday,Francis Ford Coppola,Male
365,12.31,36,36.23,Mad Max Beyond Thunderdome,5.9,748,4845,1985,Jun,Saturday,George Miller,Male
995,8.00,51,52.29,Stand by Me,7.8,1522,5101,1986,Aug,Friday,Rob Reiner,Male
745,25.00,38,76.27,The Untouchables,7.6,1384,4967,1987,Jun,Tuesday,Brian De Palma,Male
530,28.00,66,140.77,Die Hard,7.5,3948,4890,1988,Jul,Friday,John McTiernan,NaN
817,8.00,12,22.17,A Nightmare on Elm Street 5: The Dream Child,5.5,245,5008,1989,Aug,Friday,Stephen Hopkins,Male
622,60.00,16,157.92,Days of Thunder,5.9,353,4923,1990,Jun,Wednesday,Tony Scott,Male
342,40.00,26,205.41,JFK,7.5,502,4839,1991,Dec,Friday,Oliver Stone,Male
1083,10.00,8,50.75,The Mighty Ducks,6.4,198,5152,1992,Oct,Thursday,Stephen Herek,Male
198,63.00,40,920.10,Jurassic Park,7.6,4856,4799,1993,Jun,Friday,Steven Spielberg,Male
1053,30.00,14,0.00,The Hudsucker Proxy,7.1,275,5135,1994,Mar,Friday,Joel Coen,NaN
683,45.00,11,0.00,The Indian in the Cupboard,5.9,134,4947,1995,Jul,Friday,Frank Oz,Male
1326,0.00,10,0.00,Shine,7.3,131,5375,1996,Jan,Sunday,Scott Hicks,Male
228,90.00,55,171.12,Contact,7.2,1308,4804,1997,Jul,Friday,Robert Zemeckis,Male
621,90.00,41,250.65,Enemy of the State,6.7,1240,4923,1998,Nov,Friday,Tony Scott,Male
481,73.00,33,151.49,The Bone Collector,6.5,826,4880,1999,Nov,Thursday,Phillip Noyce,Male
1378,0.00,0,0.00,Chuck & Buck,5.7,16,5519,2000,Jan,Friday,Miguel Arteta,Male
607,107.00,18,87.71,Ali,6.7,447,4918,2001,Dec,Tuesday,Michael Mann,Male
199,52.00,73,352.11,Catch Me If You Can,7.7,3795,4799,2002,Dec,Wednesday,Steven Spielberg,Male
917,25.00,12,56.49,Cradle 2 the Grave,5.8,236,5061,2003,Feb,Friday,Andrzej Bartkowiak,Male
138,60.00,14,61.35,After the Sunset,6.0,226,4786,2004,Nov,Friday,Brett Ratner,Male
904,57.00,22,52.03,Elizabethtown,6.1,327,5056,2005,Oct,Thursday,Cameron Crowe,Male
601,82.50,41,237.68,Click,6.0,2104,4917,2006,Jun,Thursday,Frank Coraci,Male
226,70.00,35,195.74,Beowulf,5.5,841,4804,2007,Nov,Monday,Robert Zemeckis,Male
1126,45.00,11,9.32,Miracle at St. Anna,6.3,90,5195,2008,Sep,Monday,Spike Lee,Male
0,237.00,150,2787.97,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,Male
1021,28.00,14,45.24,The Spy Next Door,5.5,345,5116,2010,Jan,Friday,Brian Levant,Male
68,380.00,135,1045.71,Pirates of the Caribbean: On Stranger Tides,6.4,4948,4775,2011,May,Saturday,Rob Marshall,Male
933,0.00,2,0.00,Darling Companion,5.3,22,5082,2012,Apr,Friday,Lawrence Kasdan,Male
1396,0.00,5,0.00,A Madea Christmas,7.0,35,5554,2013,Dec,Friday,Tyler Perry,Male
908,70.00,43,154.98,The Monuments Men,5.8,1523,5059,2014,Jan,Friday,George Clooney,Male
1445,5.00,3,4.84,90 Minutes in Heaven,5.4,40,5951,2015,Sep,Friday,Michael Polish,Male
186,140.00,44,183.35,The BFG,6.0,1000,4799,2016,Jun,Wednesday,Steven Spielberg,Male

In [377]:
df["gender"].unique()

array(['Male', nan, 'Female'], dtype=object)

In [378]:
def cust_fun(x):
    if x=="male":
        return 1
    else:
        return 0

In [379]:
df["gender"]=df["gender"].apply(cust_fun)
df

,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
0,237.00,150,2787.97,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,0
1,200.00,100,1845.03,Titanic,7.5,7562,4762,1997,Nov,Tuesday,James Cameron,0
2,100.00,101,520.00,Terminator 2: Judgment Day,7.7,4185,4762,1991,Jul,Monday,James Cameron,0
3,115.00,38,378.88,True Lies,6.8,1116,4762,1994,Jul,Thursday,James Cameron,0
4,70.00,24,90.00,The Abyss,7.1,808,4762,1989,Aug,Wednesday,James Cameron,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1460,0.00,14,25.29,Enough Said,6.6,348,6204,2013,Sep,Wednesday,Nicole Holofcener,0
1461,6.50,11,13.37,Friends with Money,5.1,128,6204,2006,Sep,Thursday,Nicole Holofcener,0
1462,3.00,5,0.00,Please Give,6.0,57,6204,2010,Jan,Friday,Nicole Holofcener,0
1463,0.00,0,0.00,Walking and Talking,6.6,7,6204,1996,Jul,Wednesday,Nicole Holofcener,0
1464,0.25,1,4.19,Lovely & Amazing,6.3,23,6204,2001,Aug,Friday,Nicole Holofcener,0

In [380]:
df["gender"].unique()

array([0])

In [381]:
mov

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday
1461,48370,27000,19,3151130,Clerks,7.4,755,5369,1994,Sep,Tuesday
1462,48375,0,7,0,Rampage,6.0,131,5148,2009,Aug,Friday
1463,48376,0,3,0,Slacker,6.4,77,5535,1990,Jul,Friday
1464,48395,220000,14,2040920,El Mariachi,6.6,238,5097,1992,Sep,Friday

In [382]:
dire

          director_name    id gender
0         James Cameron  4762   Male
1        Gore Verbinski  4763   Male
2            Sam Mendes  4764   Male
3     Christopher Nolan  4765   Male
4        Andrew Stanton  4766   Male
...                 ...   ...    ...
2344      Shane Carruth  7106   Male
2345   Neill Dela Llana  7107    NaN
2346        Scott Smith  7108    NaN
2347        Daniel Hsia  7109   Male
2348   Brian Herzlinger  7110   Male

[2349 rows x 3 columns]

In [385]:
df=mov.merge(dire,left_on="director_id",right_on="id",how="left")
df

,id_x,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,id_y,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,4762,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,4763,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,4764,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,4765,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,4767,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,4809,Male
1461,48370,27000,19,3151130,Clerks,7.4,755,5369,1994,Sep,Tuesday,Kevin Smith,5369,Male
1462,48375,0,7,0,Rampage,6.0,131,5148,2009,Aug,Friday,Uwe Boll,5148,Male
1463,48376,0,3,0,Slacker,6.4,77,5535,1990,Jul,Friday,Richard Linklater,5535,Male
1464,48395,220000,14,2040920,El Mariachi,6.6,238,5097,1992,Sep,Friday,Robert Rodriguez,5097,NaN

In [386]:
df.drop(columns={"id_y"},inplace=True)

In [387]:
df

,id_x,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,Male
1461,48370,27000,19,3151130,Clerks,7.4,755,5369,1994,Sep,Tuesday,Kevin Smith,Male
1462,48375,0,7,0,Rampage,6.0,131,5148,2009,Aug,Friday,Uwe Boll,Male
1463,48376,0,3,0,Slacker,6.4,77,5535,1990,Jul,Friday,Richard Linklater,Male
1464,48395,220000,14,2040920,El Mariachi,6.6,238,5097,1992,Sep,Friday,Robert Rodriguez,NaN

In [389]:
df.rename({"id_x":"id"},axis=1,inplace=True)

In [390]:
df

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,Male
1461,48370,27000,19,3151130,Clerks,7.4,755,5369,1994,Sep,Tuesday,Kevin Smith,Male
1462,48375,0,7,0,Rampage,6.0,131,5148,2009,Aug,Friday,Uwe Boll,Male
1463,48376,0,3,0,Slacker,6.4,77,5535,1990,Jul,Friday,Richard Linklater,Male
1464,48395,220000,14,2040920,El Mariachi,6.6,238,5097,1992,Sep,Friday,Robert Rodriguez,NaN

In [391]:
def cust_fun(x):
    if x=="Male":
        return 1
    else:
        return 0

In [392]:
df["genderN"]=df["gender"].apply(cust_fun)
df

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender,genderN
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,Male,1
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,Male,1
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,Male,1
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,Male,1
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,Male,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,Male,1
1461,48370,27000,19,3151130,Clerks,7.4,755,5369,1994,Sep,Tuesday,Kevin Smith,Male,1
1462,48375,0,7,0,Rampage,6.0,131,5148,2009,Aug,Friday,Uwe Boll,Male,1
1463,48376,0,3,0,Slacker,6.4,77,5535,1990,Jul,Friday,Richard Linklater,Male,1
1464,48395,220000,14,2040920,El Mariachi,6.6,238,5097,1992,Sep,Friday,Robert Rodriguez,NaN,0

In [393]:
df["genderN"].nunique()

2

In [394]:
df["genderN"].value_counts()

1    1309
0     156
Name: genderN, dtype: int64

In [396]:
df.head()

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender,genderN
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,Male,1
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,Male,1
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,Male,1
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,Male,1
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,Male,1

In [397]:
df["profit"]=df["revenue"]-df["budget"]

In [399]:
df.head()

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender,genderN,profit
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,Male,1,2550965087
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,Male,1,661000000
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,Male,1,635674609
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,Male,1,834939099
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,Male,1,632871626

In [400]:
df["budget"]=(df["budget"]/1000000).round(2)

In [401]:
df

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender,genderN,profit
0,43597,237.00,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,Male,1,2550965087
1,43598,300.00,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,Male,1,661000000
2,43599,245.00,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,Male,1,635674609
3,43600,250.00,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,Male,1,834939099
4,43602,258.00,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,Male,1,632871626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0.00,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,Male,1,321952
1461,48370,0.03,19,3151130,Clerks,7.4,755,5369,1994,Sep,Tuesday,Kevin Smith,Male,1,3124130
1462,48375,0.00,7,0,Rampage,6.0,131,5148,2009,Aug,Friday,Uwe Boll,Male,1,0
1463,48376,0.00,3,0,Slacker,6.4,77,5535,1990,Jul,Friday,Richard Linklater,Male,1,0
1464,48395,0.22,14,2040920,El Mariachi,6.6,238,5097,1992,Sep,Friday,Robert Rodriguez,NaN,0,1820920

In [402]:
df["revenue"]=(df["revenue"]/1000000).round(2)

In [403]:
df

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender,genderN,profit
0,43597,237.00,150,2787.97,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,Male,1,2550965087
1,43598,300.00,139,961.00,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,Male,1,661000000
2,43599,245.00,107,880.67,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,Male,1,635674609
3,43600,250.00,112,1084.94,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,Male,1,834939099
4,43602,258.00,115,890.87,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,Male,1,632871626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0.00,3,0.32,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,Male,1,321952
1461,48370,0.03,19,3.15,Clerks,7.4,755,5369,1994,Sep,Tuesday,Kevin Smith,Male,1,3124130
1462,48375,0.00,7,0.00,Rampage,6.0,131,5148,2009,Aug,Friday,Uwe Boll,Male,1,0
1463,48376,0.00,3,0.00,Slacker,6.4,77,5535,1990,Jul,Friday,Richard Linklater,Male,1,0
1464,48395,0.22,14,2.04,El Mariachi,6.6,238,5097,1992,Sep,Friday,Robert Rodriguez,NaN,0,1820920

In [404]:
def pro_fun(x):
    return x["revenue"]-x["budget"]

In [406]:
df["profitF"]=df[["revenue","budget"]].apply(pro_fun,axis=1)

In [407]:
df

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender,genderN,profit,profitF
0,43597,237.00,150,2787.97,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,Male,1,2550965087,2550.97
1,43598,300.00,139,961.00,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,Male,1,661000000,661.00
2,43599,245.00,107,880.67,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,Male,1,635674609,635.67
3,43600,250.00,112,1084.94,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,Male,1,834939099,834.94
4,43602,258.00,115,890.87,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,Male,1,632871626,632.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0.00,3,0.32,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,Male,1,321952,0.32
1461,48370,0.03,19,3.15,Clerks,7.4,755,5369,1994,Sep,Tuesday,Kevin Smith,Male,1,3124130,3.12
1462,48375,0.00,7,0.00,Rampage,6.0,131,5148,2009,Aug,Friday,Uwe Boll,Male,1,0,0.00
1463,48376,0.00,3,0.00,Slacker,6.4,77,5535,1990,Jul,Friday,Richard Linklater,Male,1,0,0.00
1464,48395,0.22,14,2.04,El Mariachi,6.6,238,5097,1992,Sep,Friday,Robert Rodriguez,NaN,0,1820920,1.82

In [408]:
df[["budget","revenue"]]

      budget  revenue
0     237.00  2787.97
1     300.00   961.00
2     245.00   880.67
3     250.00  1084.94
4     258.00   890.87
...      ...      ...
1460    0.00     0.32
1461    0.03     3.15
1462    0.00     0.00
1463    0.00     0.00
1464    0.22     2.04

[1465 rows x 2 columns]

In [411]:
df[["budget","revenue"]].apply(np.sum,axis=0)

budget      70353.62
revenue    209867.04
dtype: float64

In [412]:
df[["budget","revenue"]].apply(np.sum,axis=1)

0       3024.97
1       1261.00
2       1125.67
3       1334.94
4       1148.87
         ...
1460       0.32
1461       3.18
1462       0.00
1463       0.00
1464       2.26
Length: 1465, dtype: float64

In [413]:
def func(x):
    return x+10

In [414]:
df[["budget","revenue"]].apply(func)

      budget  revenue
0     247.00  2797.97
1     310.00   971.00
2     255.00   890.67
3     260.00  1094.94
4     268.00   900.87
...      ...      ...
1460   10.00    10.32
1461   10.03    13.15
1462   10.00    10.00
1463   10.00    10.00
1464   10.22    12.04

[1465 rows x 2 columns]

In [415]:
df

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender,genderN,profit,profitF
0,43597,237.00,150,2787.97,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,Male,1,2550965087,2550.97
1,43598,300.00,139,961.00,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,Male,1,661000000,661.00
2,43599,245.00,107,880.67,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,Male,1,635674609,635.67
3,43600,250.00,112,1084.94,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,Male,1,834939099,834.94
4,43602,258.00,115,890.87,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,Male,1,632871626,632.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0.00,3,0.32,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,Male,1,321952,0.32
1461,48370,0.03,19,3.15,Clerks,7.4,755,5369,1994,Sep,Tuesday,Kevin Smith,Male,1,3124130,3.12
1462,48375,0.00,7,0.00,Rampage,6.0,131,5148,2009,Aug,Friday,Uwe Boll,Male,1,0,0.00
1463,48376,0.00,3,0.00,Slacker,6.4,77,5535,1990,Jul,Friday,Richard Linklater,Male,1,0,0.00
1464,48395,0.22,14,2.04,El Mariachi,6.6,238,5097,1992,Sep,Friday,Robert Rodriguez,NaN,0,1820920,1.82

In [416]:
df.groupby(["director_name"])

In [417]:
df.groupby(["director_name"]).ngroups

199

In [419]:
df.groupby(["director_name"]).groups

{'Adam McKay': [176, 323, 366, 505, 839, 916], 'Adam Shankman': [265, 300, 350, 404, 458, 843, 999, 1231], 'Alejandro González Iñárritu': [106, 749, 1015, 1034, 1077, 1405], 'Alex Proyas': [95, 159, 514, 671, 873], 'Alexander Payne': [793, 1006, 1101, 1211, 1281], 'Andrew Adamson': [11, 43, 328, 501, 947], 'Andrew Niccol': [533, 603, 701, 722, 1439], 'Andrzej Bartkowiak': [349, 549, 754, 911, 924], 'Andy Fickman': [517, 681, 909, 926, 973, 1023], 'Andy Tennant': [314, 320, 464, 593, 676, 885], 'Ang Lee': [99, 134, 748, 840, 1089, 1110, 1132, 1184], 'Anne Fletcher': [610, 650, 736, 789, 1206], 'Antoine Fuqua': [310, 338, 424, 467, 576, 808, 818, 1105], 'Atom Egoyan': [946, 1128, 1164, 1194, 1347, 1416], 'Barry Levinson': [313, 319, 471, 594, 878, 898, 1013, 1037, 1082, 1143, 1185, 1345, 1378], 'Barry Sonnenfeld': [13, 48, 90, 205, 591, 778, 783], 'Ben Stiller': [209, 212, 547, 562, 850], 'Bill Condon': [102, 307, 902, 1233, 1381], 'Bobby Farrelly': [352, 356, 481, 498, 624, 630, 654, 806, 928, 972, 1111], 'Brad Anderson': [1163, 1197, 1350, 1419, 1430], 'Brett Ratner': [24, 39, 188, 207, 238, 292, 405, 456, 920], 'Brian De Palma': [228, 255, 318, 439, 747, 905, 919, 1088, 1232, 1261, 1317, 1354], 'Brian Helgeland': [512, 607, 623, 742, 933], 'Brian Levant': [418, 449, 568, 761, 860, 1003], 'Brian Robbins': [416, 441, 669, 962, 988, 1115], 'Bryan Singer': [6, 32, 33, 44, 122, 216, 297, 1326], 'Cameron Crowe': [335, 434, 488, 503, 513, 698], 'Catherine Hardwicke': [602, 695, 724, 937, 1406, 1412], 'Chris Columbus': [117, 167, 204, 218, 229, 509, 656, 897, 996, 1086, 1129], 'Chris Weitz': [17, 500, 794, 869, 1202, 1267], 'Christopher Nolan': [3, 45, 58, 59, 74, 565, 641, 1341], 'Chuck Russell': [177, 410, 657, 1069, 1097, 1339], 'Clint Eastwood': [369, 426, 447, 482, 490, 520, 530, 535, 645, 727, 731, 786, 787, 899, 974, 986, 1167, 1190, 1313], 'Curtis Hanson': [494, 579, 606, 711, 733, 1057, 1310], 'Danny Boyle': [527, 668, 1083, 1085, 1126, 1168, 1287, 1385], 'Darren Aronofsky': [113, 751, 1187, 1328, 1363, 1458], 'Darren Lynn Bousman': [1241, 1243, 1283, 1338, 1440], 'David Ayer': [50, 273, 741, 1024, 1146, 1407], 'David Cronenberg': [541, 767, 994, 1055, 1254, 1268, 1334], 'David Fincher': [62, 213, 253, 383, 398, 478, 522, 555, 618, 785], 'David Gordon Green': [543, 862, 884, 927, 1376, 1418, 1432, 1459], 'David Koepp': [443, 644, 735, 1041, 1209], 'David Lynch': [583, 1161, 1264, 1340, 1456], 'David O. Russell': [422, 556, 609, 896, 982, 989, 1229, 1304], 'David R. Ellis': [582, 634, 756, 888, 934], 'David Zucker': [569, 619, 965, 1052, 1175], 'Dennis Dugan': [217, 260, 267, 293, 303, 718, 780, 977, 1247], 'Donald Petrie': [427, 507, 570, 649, 858, 894, 1106, 1331], 'Doug Liman': [52, 148, 251, 399, 544, 1318, 1451], 'Edward Zwick': [92, 182, 346, 566, 791, 819, 825], 'F. Gary Gray': [308, 402, 491, 523, 697, 833, 1272, 1380], 'Francis Ford Coppola': [487, 559, 622, 646, 772, 1076, 1155, 1253, 1312], 'Francis Lawrence': [63, 72, 109, 120, 679], 'Frank Coraci': [157, 249, 275, 451, 577, 599, 963], 'Frank Oz': [193, 355, 473, 580, 712, 813, 987], 'Garry Marshall': [329, 496, 528, 571, 784, 893, 1029, 1169], 'Gary Fleder': [518, 667, 689, 867, 981, 1165], 'Gary Winick': [258, 797, 798, 804, 1454], 'Gavin O'Connor': [820, 841, 939, 953, 1444], 'George A. Romero': [250, 1066, 1096, 1278, 1367, 1396], 'George Clooney': [343, 450, 831, 966, 1302], 'George Miller': [78, 103, 233, 287, 1250, 1403, 1450], 'Gore Verbinski': [1, 8, 9, 107, 119, 633, 1040], 'Guillermo del Toro': [35, 252, 419, 486, 1118], 'Gus Van Sant': [595, 1018, 1027, 1159, 1240, 1311, 1398], 'Guy Ritchie': [124, 215, 312, 1093, 1225, 1269, 1420], 'Harold Ramis': [425, 431, 558, 586, 788, 1137, 1166, 1325], 'Ivan Reitman': [274, 643, 816, 883, 910, 935, 1134, 1242], 'James Cameron': [0, 19, 170, 173, 344, 1100, 1320], 'James Ivory': [1125, 1152, 1180, 1291, 1293, 1390, 1397], 'James Mangold': [140, 141, 557, 560, 829, 845, 958, 1145], 'James Wan': [30, 617, 1002, 1047, 1337, 1417, 1424], 'Jan de Bont': [155, 224, 231, 270, 781], 'Jason Friedberg': [812, 1010, 1012, 1014, 1036], 'Jason Reitman': [792, 1092, 1213, 1295, 1299], 'Jaume Collet-Serra': [516, 540, 640, 725, 1011, 1189], 'Jay Roach': [195, 359, 389, 397, 461, 703, 859, 1072], 'Jean-Pierre Jeunet': [423, 485, 605, 664, 765], 'Joe Dante': [284, 525, 638, 1226, 1298, 1428], 'Joe Wright': [85, 432, 553, 803, 814, 855], 'Joel Coen': [428, 670, 691, 707, 721, 889, 906, 980, 1157, 1238, 1305], 'Joel Schumacher': [128, 184, 348, 484, 572, 614, 652, 764, 876, 886, 1108, 1230, 1280], 'John Carpenter': [537, 663, 686, 861, 938, 1028, 1080, 1102, 1329, 1371], 'John Glen': [601, 642, 801, 847, 864], 'John Landis': [524, 868, 1276, 1384, 1435], 'John Madden': [457, 882, 1020, 1249, 1257], 'John McTiernan': [127, 214, 244, 351, 534, 563, 648, 782, 838, 1074], 'John Singleton': [294, 489, 732, 796, 1120, 1173, 1316], 'John Whitesell': [499, 632, 763, 1119, 1148], 'John Woo': [131, 142, 264, 371, 420, 675, 1182], 'Jon Favreau': [46, 54, 55, 382, 759, 1346], 'Jon M. Chu': [100, 225, 810, 1099, 1186], 'Jon Turteltaub': [64, 180, 372, 480, 760, 846, 1171], 'Jonathan Demme': [277, 493, 1000, 1123, 1215], 'Jonathan Liebesman': [81, 143, 339, 1117, 1301], 'Judd Apatow': [321, 710, 717, 865, 881], 'Justin Lin': [38, 123, 246, 1437, 1447], 'Kenneth Branagh': [80, 197, 421, 879, 1094, 1277, 1288], 'Kenny Ortega': [412, 852, 1228, 1315, 1365], 'Kevin Reynolds': [53, 502, 639, 1019, 1059], ...}

In [420]:
df.loc[[176, 323, 366, 505, 839, 916]]

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender,genderN,profit,profitF
176,43882,100.0,24,170.43,The Other Guys,6.1,1383,4925,2010,Aug,Friday,Adam McKay,Male,1,70432927,70.43
323,44151,72.5,12,162.97,Talladega Nights: The Ballad of Ricky Bobby,6.2,491,4925,2006,Aug,Friday,Adam McKay,Male,1,90466177,90.47
366,44236,65.0,22,128.11,Step Brothers,6.5,1062,4925,2008,Jul,Friday,Adam McKay,Male,1,63107642,63.11
505,44503,50.0,38,173.65,Anchorman 2: The Legend Continues,6.0,923,4925,2013,Dec,Wednesday,Adam McKay,Male,1,123649015,123.65
839,45301,28.0,57,133.35,The Big Short,7.3,2607,4925,2015,Dec,Friday,Adam McKay,Male,1,105346506,105.35
916,45443,26.0,29,90.57,Anchorman: The Legend of Ron Burgundy,6.7,1493,4925,2004,Jul,Friday,Adam McKay,Male,1,64574188,64.57

In [421]:
df.groupby(["director_name"]).get_group("Kenneth Branagh")

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender,genderN,profit,profitF
80,43726,150.0,86,449.33,Thor,6.6,6525,4847,2011,Apr,Thursday,Kenneth Branagh,Male,1,299326618,299.33
197,43923,95.0,101,543.51,Cinderella,6.7,2374,4847,2015,Mar,Thursday,Kenneth Branagh,Male,1,448514353,448.51
421,44334,60.0,42,50.55,Jack Ryan: Shadow Recruit,5.9,1173,4847,2014,Jan,Wednesday,Kenneth Branagh,Male,1,-9450893,-9.45
879,45373,0.0,0,0.00,The Magic Flute,6.9,6,4847,2006,Sep,Thursday,Kenneth Branagh,Male,1,0,0.00
1094,45970,0.0,9,0.00,Hamlet,7.3,117,4847,1996,Dec,Wednesday,Kenneth Branagh,Male,1,0,0.00
1277,46774,9.0,4,0.00,Henry V,7.4,71,4847,1989,Oct,Thursday,Kenneth Branagh,Male,1,-9000000,-9.00
1288,46847,8.0,10,0.00,Much Ado About Nothing,7.2,189,4847,1993,May,Friday,Kenneth Branagh,Male,1,-8000000,-8.00

In [422]:
df.groupby(["director_name"])["title"].count()

director_name
Adam McKay                      6
Adam Shankman                   8
Alejandro González Iñárritu     6
Alex Proyas                     5
Alexander Payne                 5
                               ..
Wes Craven                     10
Wolfgang Petersen               7
Woody Allen                    18
Zack Snyder                     7
Zhang Yimou                     6
Name: title, Length: 199, dtype: int64

In [424]:
df.groupby(["director_name"])["title"].count().sort_index(ascending=True)

director_name
Adam McKay                      6
Adam Shankman                   8
Alejandro González Iñárritu     6
Alex Proyas                     5
Alexander Payne                 5
                               ..
Wes Craven                     10
Wolfgang Petersen               7
Woody Allen                    18
Zack Snyder                     7
Zhang Yimou                     6
Name: title, Length: 199, dtype: int64

In [425]:
df.groupby(["director_name"])["title"].count().sort_values(ascending=True)

director_name
Kevin Reynolds       5
George Clooney       5
Gavin O'Connor       5
Gary Winick          5
Michael Apted        5
                    ..
Spike Lee           16
Woody Allen         18
Clint Eastwood      19
Martin Scorsese     19
Steven Spielberg    26
Name: title, Length: 199, dtype: int64

In [426]:
df.groupby(["director_name"])["year"].aggregate(["min","max"])

                              min   max
director_name
Adam McKay                   2004  2015
Adam Shankman                2001  2012
Alejandro González Iñárritu  2000  2015
Alex Proyas                  1994  2016
Alexander Payne              1999  2013
...                           ...   ...
Wes Craven                   1984  2011
Wolfgang Petersen            1981  2006
Woody Allen                  1977  2013
Zack Snyder                  2004  2016
Zhang Yimou                  2002  2014

[199 rows x 2 columns]

In [427]:
df.groupby(["director_name"])["budget"].aggregate(["min","max"])

                              min    max
director_name
Adam McKay                   26.0  100.0
Adam Shankman                11.0   80.0
Alejandro González Iñárritu   0.0  135.0
Alex Proyas                  15.0  140.0
Alexander Payne               0.0   30.0
...                           ...    ...
Wes Craven                    1.8   40.0
Wolfgang Petersen            14.0  175.0
Woody Allen                   0.0   30.0
Zack Snyder                  28.0  250.0
Zhang Yimou                   0.0   94.0

[199 rows x 2 columns]

In [428]:
df

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender,genderN,profit,profitF
0,43597,237.00,150,2787.97,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,Male,1,2550965087,2550.97
1,43598,300.00,139,961.00,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,Male,1,661000000,661.00
2,43599,245.00,107,880.67,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,Male,1,635674609,635.67
3,43600,250.00,112,1084.94,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,Male,1,834939099,834.94
4,43602,258.00,115,890.87,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,Male,1,632871626,632.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0.00,3,0.32,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,Male,1,321952,0.32
1461,48370,0.03,19,3.15,Clerks,7.4,755,5369,1994,Sep,Tuesday,Kevin Smith,Male,1,3124130,3.12
1462,48375,0.00,7,0.00,Rampage,6.0,131,5148,2009,Aug,Friday,Uwe Boll,Male,1,0,0.00
1463,48376,0.00,3,0.00,Slacker,6.4,77,5535,1990,Jul,Friday,Richard Linklater,Male,1,0,0.00
1464,48395,0.22,14,2.04,El Mariachi,6.6,238,5097,1992,Sep,Friday,Robert Rodriguez,NaN,0,1820920,1.82

In [429]:
df

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,gender,genderN,profit,profitF
0,43597,237.00,150,2787.97,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,Male,1,2550965087,2550.97
1,43598,300.00,139,961.00,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,Male,1,661000000,661.00
2,43599,245.00,107,880.67,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,Male,1,635674609,635.67
3,43600,250.00,112,1084.94,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,Male,1,834939099,834.94
4,43602,258.00,115,890.87,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,Male,1,632871626,632.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0.00,3,0.32,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,Male,1,321952,0.32
1461,48370,0.03,19,3.15,Clerks,7.4,755,5369,1994,Sep,Tuesday,Kevin Smith,Male,1,3124130,3.12
1462,48375,0.00,7,0.00,Rampage,6.0,131,5148,2009,Aug,Friday,Uwe Boll,Male,1,0,0.00
1463,48376,0.00,3,0.00,Slacker,6.4,77,5535,1990,Jul,Friday,Richard Linklater,Male,1,0,0.00
1464,48395,0.22,14,2.04,El Mariachi,6.6,238,5097,1992,Sep,Friday,Robert Rodriguez,NaN,0,1820920,1.82

In [430]:
df.rename({"title":"Title",
          "month":"Month"},axis=1)

,id,budget,popularity,revenue,Title,vote_average,vote_count,director_id,year,Month,day,director_name,gender,genderN,profit,profitF
0,43597,237.00,150,2787.97,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,Male,1,2550965087,2550.97
1,43598,300.00,139,961.00,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,Male,1,661000000,661.00
2,43599,245.00,107,880.67,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,Male,1,635674609,635.67
3,43600,250.00,112,1084.94,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,Male,1,834939099,834.94
4,43602,258.00,115,890.87,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,Male,1,632871626,632.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0.00,3,0.32,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,Male,1,321952,0.32
1461,48370,0.03,19,3.15,Clerks,7.4,755,5369,1994,Sep,Tuesday,Kevin Smith,Male,1,3124130,3.12
1462,48375,0.00,7,0.00,Rampage,6.0,131,5148,2009,Aug,Friday,Uwe Boll,Male,1,0,0.00
1463,48376,0.00,3,0.00,Slacker,6.4,77,5535,1990,Jul,Friday,Richard Linklater,Male,1,0,0.00
1464,48395,0.22,14,2.04,El Mariachi,6.6,238,5097,1992,Sep,Friday,Robert Rodriguez,NaN,0,1820920,1.82

In [431]:
df.rename(columns={"month":"Month",
                  "year":"Year"})

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,Year,Month,day,director_name,gender,genderN,profit,profitF
0,43597,237.00,150,2787.97,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,Male,1,2550965087,2550.97
1,43598,300.00,139,961.00,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,Male,1,661000000,661.00
2,43599,245.00,107,880.67,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,Male,1,635674609,635.67
3,43600,250.00,112,1084.94,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,Male,1,834939099,834.94
4,43602,258.00,115,890.87,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,Male,1,632871626,632.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0.00,3,0.32,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,Male,1,321952,0.32
1461,48370,0.03,19,3.15,Clerks,7.4,755,5369,1994,Sep,Tuesday,Kevin Smith,Male,1,3124130,3.12
1462,48375,0.00,7,0.00,Rampage,6.0,131,5148,2009,Aug,Friday,Uwe Boll,Male,1,0,0.00
1463,48376,0.00,3,0.00,Slacker,6.4,77,5535,1990,Jul,Friday,Richard Linklater,Male,1,0,0.00
1464,48395,0.22,14,2.04,El Mariachi,6.6,238,5097,1992,Sep,Friday,Robert Rodriguez,NaN,0,1820920,1.82

In [1]:
import pandas as pd

In [4]:
pd.DataFrame([["A",1,2,3,4],
                ["B",11,22,33,44],
                ["C",111,222,333,444]],
               columns=["AAA","BBB","CCC","DDD","EEE"])

  AAA  BBB  CCC  DDD  EEE
0   A    1    2    3    4
1   B   11   22   33   44
2   C  111  222  333  444

In [6]:
pd.DataFrame({"AAA":["A",1,2,3,4],
             "BBB":["B",11,22,33,44],
             "CCC":["C",111,222,333,444],
             })

  AAA BBB  CCC
0   A   B    C
1   1  11  111
2   2  22  222
3   3  33  333
4   4  44  444

In [7]:
ls

06_Probability_Distributions_1/
07_Pandas_1/
07_Probability_Distributions_2/
DV.ipynb
NPS.ipynb
Numpy Airbnb NPS final .ipynb
Pandas Revision.ipynb
Pandas final cut.ipynb
Pfizer_1.csv
Python Lib Rivision.ipynb
SQL/
These Are the 25 Smartest Dog Breeds, According to Science.jpeg
Think Stats, 2nd Edition_ Exploratory Data Analysis ( PDFDrive ).pdf
Untitled.ipynb
clouds-2627945.jpg
directors.csv
figure.png
final_vg.csv
fit.txt
gapminder.csv
jupyterthemes.ipynb
mckinsey.csv
movies.csv
prob_01_basic_definitions/
storytelling-with-data-cole-nussbaumer-knaflic.pdf
survey.txt

In [9]:
df=pd.read_csv("gapminder.csv")
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1704 non-null   int64
 3   continent   1704 non-null   object
 4   life_exp    1704 non-null   float64
 5   gdp_cap     1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [11]:
df.describe()

             year    population     life_exp        gdp_cap
count  1704.00000  1.704000e+03  1704.000000    1704.000000
mean   1979.50000  2.960121e+07    59.474439    7215.327081
std      17.26533  1.061579e+08    12.917107    9857.454543
min    1952.00000  6.001100e+04    23.599000     241.165876
25%    1965.75000  2.793664e+06    48.198000    1202.060309
50%    1979.50000  7.023596e+06    60.712500    3531.846988
75%    1993.25000  1.958522e+07    70.845500    9325.462346
max    2007.00000  1.318683e+09    82.603000  113523.132900

In [12]:
df.describe(include="all")

,country,year,population,continent,life_exp,gdp_cap
count,1704,1704.00000,1.704000e+03,1704,1704.000000,1704.000000
unique,142,NaN,NaN,5,NaN,NaN
top,Afghanistan,NaN,NaN,Africa,NaN,NaN
freq,12,NaN,NaN,624,NaN,NaN
mean,NaN,1979.50000,2.960121e+07,NaN,59.474439,7215.327081
std,NaN,17.26533,1.061579e+08,NaN,12.917107,9857.454543
min,NaN,1952.00000,6.001100e+04,NaN,23.599000,241.165876
25%,NaN,1965.75000,2.793664e+06,NaN,48.198000,1202.060309
50%,NaN,1979.50000,7.023596e+06,NaN,60.712500,3531.846988
75%,NaN,1993.25000,1.958522e+07,NaN,70.845500,9325.462346
max,NaN,2007.00000,1.318683e+09,NaN,82.603000,113523.132900

In [13]:
df.describe(include="object")

            country continent
count          1704      1704
unique          142         5
top     Afghanistan    Africa
freq             12       624

In [14]:
df.shape

(1704, 6)

In [15]:
df.shape[0]

1704

In [16]:
df.ndim

2

In [17]:
df.size

10224

In [18]:
df.keys()

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [20]:
df.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [21]:
df["country"]

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [22]:
df[["country"]]

          country
0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
...           ...
1699     Zimbabwe
1700     Zimbabwe
1701     Zimbabwe
1702     Zimbabwe
1703     Zimbabwe

[1704 rows x 1 columns]

In [23]:
df.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [25]:
df["continent"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

In [26]:
df["continent"].nunique()

5

In [28]:
df["continent"].value_counts()

Africa      624
Asia        396
Europe      360
Americas    300
Oceania      24
Name: continent, dtype: int64

In [29]:
import pandas as pd

In [30]:
pd.DataFrame([["a",1,2,3,4],
             ["b",11,22,33,44]],
            columns=["AA","BB","CC","DD","EE"])

  AA  BB  CC  DD  EE
0  a   1   2   3   4
1  b  11  22  33  44

In [32]:
pd.DataFrame({"AA":["a","b"],
             "BB":[1,11],
             "CC":[2,22],
             "DD":[3,33],
             "EE":[4,44]})

  AA  BB  CC  DD  EE
0  a   1   2   3   4
1  b  11  22  33  44

In [33]:
ls

06_Probability_Distributions_1/
07_Pandas_1/
07_Probability_Distributions_2/
DV.ipynb
NPS.ipynb
Numpy Airbnb NPS final .ipynb
Pandas Revision.ipynb
Pandas final cut.ipynb
Pfizer_1.csv
Python Lib Rivision.ipynb
SQL/
These Are the 25 Smartest Dog Breeds, According to Science.jpeg
Think Stats, 2nd Edition_ Exploratory Data Analysis ( PDFDrive ).pdf
Untitled.ipynb
clouds-2627945.jpg
directors.csv
figure.png
final_vg.csv
fit.txt
gapminder.csv
jupyterthemes.ipynb
mckinsey.csv
movies.csv
prob_01_basic_definitions/
storytelling-with-data-cole-nussbaumer-knaflic.pdf
survey.txt

In [34]:
df=pd.read_csv("gapminder.csv")
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1704 non-null   int64
 3   continent   1704 non-null   object
 4   life_exp    1704 non-null   float64
 5   gdp_cap     1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [36]:
df.describe()

             year    population     life_exp        gdp_cap
count  1704.00000  1.704000e+03  1704.000000    1704.000000
mean   1979.50000  2.960121e+07    59.474439    7215.327081
std      17.26533  1.061579e+08    12.917107    9857.454543
min    1952.00000  6.001100e+04    23.599000     241.165876
25%    1965.75000  2.793664e+06    48.198000    1202.060309
50%    1979.50000  7.023596e+06    60.712500    3531.846988
75%    1993.25000  1.958522e+07    70.845500    9325.462346
max    2007.00000  1.318683e+09    82.603000  113523.132900

In [37]:
df.describe(include="all")

,country,year,population,continent,life_exp,gdp_cap
count,1704,1704.00000,1.704000e+03,1704,1704.000000,1704.000000
unique,142,NaN,NaN,5,NaN,NaN
top,Afghanistan,NaN,NaN,Africa,NaN,NaN
freq,12,NaN,NaN,624,NaN,NaN
mean,NaN,1979.50000,2.960121e+07,NaN,59.474439,7215.327081
std,NaN,17.26533,1.061579e+08,NaN,12.917107,9857.454543
min,NaN,1952.00000,6.001100e+04,NaN,23.599000,241.165876
25%,NaN,1965.75000,2.793664e+06,NaN,48.198000,1202.060309
50%,NaN,1979.50000,7.023596e+06,NaN,60.712500,3531.846988
75%,NaN,1993.25000,1.958522e+07,NaN,70.845500,9325.462346
max,NaN,2007.00000,1.318683e+09,NaN,82.603000,113523.132900

In [38]:
df.describe(include="object")

            country continent
count          1704      1704
unique          142         5
top     Afghanistan    Africa
freq             12       624

In [39]:
df.head()

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [40]:
df.head(23)

        country  year  population continent  life_exp      gdp_cap
0   Afghanistan  1952     8425333      Asia    28.801   779.445314
1   Afghanistan  1957     9240934      Asia    30.332   820.853030
2   Afghanistan  1962    10267083      Asia    31.997   853.100710
3   Afghanistan  1967    11537966      Asia    34.020   836.197138
4   Afghanistan  1972    13079460      Asia    36.088   739.981106
5   Afghanistan  1977    14880372      Asia    38.438   786.113360
6   Afghanistan  1982    12881816      Asia    39.854   978.011439
7   Afghanistan  1987    13867957      Asia    40.822   852.395945
8   Afghanistan  1992    16317921      Asia    41.674   649.341395
9   Afghanistan  1997    22227415      Asia    41.763   635.341351
10  Afghanistan  2002    25268405      Asia    42.129   726.734055
11  Afghanistan  2007    31889923      Asia    43.828   974.580338
12      Albania  1952     1282697    Europe    55.230  1601.056136
13      Albania  1957     1476505    Europe    59.280  1942.284244
14      Albania  1962     1728137    Europe    64.820  2312.888958
15      Albania  1967     1984060    Europe    66.220  2760.196931
16      Albania  1972     2263554    Europe    67.690  3313.422188
17      Albania  1977     2509048    Europe    68.930  3533.003910
18      Albania  1982     2780097    Europe    70.420  3630.880722
19      Albania  1987     3075321    Europe    72.000  3738.932735
20      Albania  1992     3326498    Europe    71.581  2497.437901
21      Albania  1997     3428038    Europe    72.950  3193.054604
22      Albania  2002     3508512    Europe    75.651  4604.211737

In [41]:
df.tail()

       country  year  population continent  life_exp     gdp_cap
1699  Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487  469.709298

In [42]:
df.tail(23)

       country  year  population continent  life_exp      gdp_cap
1681    Zambia  1957     3016000    Africa    44.077  1311.956766
1682    Zambia  1962     3421000    Africa    46.023  1452.725766
1683    Zambia  1967     3900000    Africa    47.768  1777.077318
1684    Zambia  1972     4506497    Africa    50.107  1773.498265
1685    Zambia  1977     5216550    Africa    51.386  1588.688299
1686    Zambia  1982     6100407    Africa    51.821  1408.678565
1687    Zambia  1987     7272406    Africa    50.821  1213.315116
1688    Zambia  1992     8381163    Africa    46.100  1210.884633
1689    Zambia  1997     9417789    Africa    40.238  1071.353818
1690    Zambia  2002    10595811    Africa    39.193  1071.613938
1691    Zambia  2007    11746035    Africa    42.384  1271.211593
1692  Zimbabwe  1952     3080907    Africa    48.451   406.884115
1693  Zimbabwe  1957     3646340    Africa    50.469   518.764268
1694  Zimbabwe  1962     4277736    Africa    52.358   527.272182
1695  Zimbabwe  1967     4995432    Africa    53.995   569.795071
1696  Zimbabwe  1972     5861135    Africa    55.635   799.362176
1697  Zimbabwe  1977     6642107    Africa    57.674   685.587682
1698  Zimbabwe  1982     7636524    Africa    60.363   788.855041
1699  Zimbabwe  1987     9216418    Africa    62.351   706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377   693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809   792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989   672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487   469.709298

In [43]:
df.shape

(1704, 6)

In [44]:
df.shape[0]

1704

In [45]:
df.shape[1]

6

In [47]:
df.keys()

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [48]:
df.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [49]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [50]:
df["year"]

0       1952
1       1957
2       1962
3       1967
4       1972
        ...
1699    1987
1700    1992
1701    1997
1702    2002
1703    2007
Name: year, Length: 1704, dtype: int64

In [51]:
df[["year"]]

      year
0     1952
1     1957
2     1962
3     1967
4     1972
...    ...
1699  1987
1700  1992
1701  1997
1702  2002
1703  2007

[1704 rows x 1 columns]

In [52]:
df[["year","country"]]

      year      country
0     1952  Afghanistan
1     1957  Afghanistan
2     1962  Afghanistan
3     1967  Afghanistan
4     1972  Afghanistan
...    ...          ...
1699  1987     Zimbabwe
1700  1992     Zimbabwe
1701  1997     Zimbabwe
1702  2002     Zimbabwe
1703  2007     Zimbabwe

[1704 rows x 2 columns]

In [53]:
df["country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [54]:
df["country"].nunique()

142

In [55]:
df["country"].value_counts()

Afghanistan          12
Pakistan             12
New Zealand          12
Nicaragua            12
Niger                12
                     ..
Eritrea              12
Equatorial Guinea    12
El Salvador          12
Egypt                12
Zimbabwe             12
Name: country, Length: 142, dtype: int64

In [57]:
df.rename(columns={"country":"CountrY"})

          CountrY  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [58]:
df.rename({"country":"CountrY"},axis=1)

          CountrY  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [59]:
df.rename({"country":"CountrY",
          "year":"YeaR"},
         axis=1)

          CountrY  YeaR  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [60]:
df.drop(["country"],axis=1)

      year  population continent  life_exp     gdp_cap
0     1952     8425333      Asia    28.801  779.445314
1     1957     9240934      Asia    30.332  820.853030
2     1962    10267083      Asia    31.997  853.100710
3     1967    11537966      Asia    34.020  836.197138
4     1972    13079460      Asia    36.088  739.981106
...    ...         ...       ...       ...         ...
1699  1987     9216418    Africa    62.351  706.157306
1700  1992    10704340    Africa    60.377  693.420786
1701  1997    11404948    Africa    46.809  792.449960
1702  2002    11926563    Africa    39.989  672.038623
1703  2007    12311143    Africa    43.487  469.709298

[1704 rows x 5 columns]

In [61]:
df.drop(columns=["country"])

      year  population continent  life_exp     gdp_cap
0     1952     8425333      Asia    28.801  779.445314
1     1957     9240934      Asia    30.332  820.853030
2     1962    10267083      Asia    31.997  853.100710
3     1967    11537966      Asia    34.020  836.197138
4     1972    13079460      Asia    36.088  739.981106
...    ...         ...       ...       ...         ...
1699  1987     9216418    Africa    62.351  706.157306
1700  1992    10704340    Africa    60.377  693.420786
1701  1997    11404948    Africa    46.809  792.449960
1702  2002    11926563    Africa    39.989  672.038623
1703  2007    12311143    Africa    43.487  469.709298

[1704 rows x 5 columns]

In [62]:
len([i for i in range(1,1705)])

1704

In [63]:
df["new"]=[i for i in range(1,1705)]

In [64]:
df

          country  year  population continent  life_exp     gdp_cap   new
0     Afghanistan  1952     8425333      Asia    28.801  779.445314     1
1     Afghanistan  1957     9240934      Asia    30.332  820.853030     2
2     Afghanistan  1962    10267083      Asia    31.997  853.100710     3
3     Afghanistan  1967    11537966      Asia    34.020  836.197138     4
4     Afghanistan  1972    13079460      Asia    36.088  739.981106     5
...           ...   ...         ...       ...       ...         ...   ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306  1700
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786  1701
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960  1702
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623  1703
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298  1704

[1704 rows x 7 columns]

In [65]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [66]:
df.index.values

array([   0,    1,    2, ..., 1701, 1702, 1703])

In [67]:
df.loc[3]

country       Afghanistan
year                 1967
population       11537966
continent            Asia
life_exp            34.02
gdp_cap        836.197138
new                     4
Name: 3, dtype: object

In [68]:
df.iloc[3]

country       Afghanistan
year                 1967
population       11537966
continent            Asia
life_exp            34.02
gdp_cap        836.197138
new                     4
Name: 3, dtype: object

In [69]:
new_row={"country":"India",
        "year":2023,
        "population":140000000,
        "continent":"Asia",
        "life_exp":61.9,
        "gdp_cap":2000.4324,
        }

In [70]:
df.append(new_row)

/var/folders/t2/3z1ygvv95h72q7ygpfjbdsgr0000gn/T/ipykernel_833/3544121368.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(new_row)

TypeError: Can only append a dict if ignore_index=True

In [72]:
df.append(new_row,ignore_index=True)

/var/folders/t2/3z1ygvv95h72q7ygpfjbdsgr0000gn/T/ipykernel_833/2283215411.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(new_row,ignore_index=True)

          country  year  population continent  life_exp      gdp_cap     new
0     Afghanistan  1952     8425333      Asia    28.801   779.445314     1.0
1     Afghanistan  1957     9240934      Asia    30.332   820.853030     2.0
2     Afghanistan  1962    10267083      Asia    31.997   853.100710     3.0
3     Afghanistan  1967    11537966      Asia    34.020   836.197138     4.0
4     Afghanistan  1972    13079460      Asia    36.088   739.981106     5.0
...           ...   ...         ...       ...       ...          ...     ...
1700     Zimbabwe  1992    10704340    Africa    60.377   693.420786  1701.0
1701     Zimbabwe  1997    11404948    Africa    46.809   792.449960  1702.0
1702     Zimbabwe  2002    11926563    Africa    39.989   672.038623  1703.0
1703     Zimbabwe  2007    12311143    Africa    43.487   469.709298  1704.0
1704        India  2023   140000000      Asia    61.900  2000.432400     NaN

[1705 rows x 7 columns]

In [73]:
new_row={"country":"India",
        "year":2024,
        "population":140000000,
        "continent":"Asia",
        "life_exp":61.9,
        "gdp_cap":2000.4324,
        }

In [74]:
df.append(new_row,ignore_index=True)

/var/folders/t2/3z1ygvv95h72q7ygpfjbdsgr0000gn/T/ipykernel_833/2283215411.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(new_row,ignore_index=True)

          country  year  population continent  life_exp      gdp_cap     new
0     Afghanistan  1952     8425333      Asia    28.801   779.445314     1.0
1     Afghanistan  1957     9240934      Asia    30.332   820.853030     2.0
2     Afghanistan  1962    10267083      Asia    31.997   853.100710     3.0
3     Afghanistan  1967    11537966      Asia    34.020   836.197138     4.0
4     Afghanistan  1972    13079460      Asia    36.088   739.981106     5.0
...           ...   ...         ...       ...       ...          ...     ...
1700     Zimbabwe  1992    10704340    Africa    60.377   693.420786  1701.0
1701     Zimbabwe  1997    11404948    Africa    46.809   792.449960  1702.0
1702     Zimbabwe  2002    11926563    Africa    39.989   672.038623  1703.0
1703     Zimbabwe  2007    12311143    Africa    43.487   469.709298  1704.0
1704        India  2024   140000000      Asia    61.900  2000.432400     NaN

[1705 rows x 7 columns]

In [75]:
df

          country  year  population continent  life_exp     gdp_cap   new
0     Afghanistan  1952     8425333      Asia    28.801  779.445314     1
1     Afghanistan  1957     9240934      Asia    30.332  820.853030     2
2     Afghanistan  1962    10267083      Asia    31.997  853.100710     3
3     Afghanistan  1967    11537966      Asia    34.020  836.197138     4
4     Afghanistan  1972    13079460      Asia    36.088  739.981106     5
...           ...   ...         ...       ...       ...         ...   ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306  1700
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786  1701
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960  1702
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623  1703
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298  1704

[1704 rows x 7 columns]

In [76]:
["India",2023,140000000,"Asia",61.9,2000.4324]

['India', 2023, 140000000, 'Asia', 61.9, 2000.4324]

In [77]:
df.shape

(1704, 7)

In [78]:
df.shape[0]

1704

In [82]:
df.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap',
       'new'],
      dtype='object')

In [83]:
df.loc[1705]=["India",2024,140000000,"Asia",61.9,2000.4324,123]

In [84]:
df

          country  year  population continent  life_exp      gdp_cap   new
0     Afghanistan  1952     8425333      Asia    28.801   779.445314     1
1     Afghanistan  1957     9240934      Asia    30.332   820.853030     2
2     Afghanistan  1962    10267083      Asia    31.997   853.100710     3
3     Afghanistan  1967    11537966      Asia    34.020   836.197138     4
4     Afghanistan  1972    13079460      Asia    36.088   739.981106     5
...           ...   ...         ...       ...       ...          ...   ...
1700     Zimbabwe  1992    10704340    Africa    60.377   693.420786  1701
1701     Zimbabwe  1997    11404948    Africa    46.809   792.449960  1702
1702     Zimbabwe  2002    11926563    Africa    39.989   672.038623  1703
1703     Zimbabwe  2007    12311143    Africa    43.487   469.709298  1704
1705        India  2024   140000000      Asia    61.900  2000.432400   123

[1705 rows x 7 columns]

In [85]:
df.shape[0]

1705

In [87]:
df.loc[1706]=["India",2025,140000000,"Asia",61.9,2000.4324,1234]

In [88]:
df

          country  year  population continent  life_exp      gdp_cap   new
0     Afghanistan  1952     8425333      Asia    28.801   779.445314     1
1     Afghanistan  1957     9240934      Asia    30.332   820.853030     2
2     Afghanistan  1962    10267083      Asia    31.997   853.100710     3
3     Afghanistan  1967    11537966      Asia    34.020   836.197138     4
4     Afghanistan  1972    13079460      Asia    36.088   739.981106     5
...           ...   ...         ...       ...       ...          ...   ...
1701     Zimbabwe  1997    11404948    Africa    46.809   792.449960  1702
1702     Zimbabwe  2002    11926563    Africa    39.989   672.038623  1703
1703     Zimbabwe  2007    12311143    Africa    43.487   469.709298  1704
1705        India  2024   140000000      Asia    61.900  2000.432400   123
1706        India  2025   140000000      Asia    61.900  2000.432400  1234

[1706 rows x 7 columns]

In [89]:
df.loc[df.shape[0]]=["India",2026,140000000,"Asia",61.9,2000.4324,12345]
df

          country  year  population continent  life_exp      gdp_cap    new
0     Afghanistan  1952     8425333      Asia    28.801   779.445314      1
1     Afghanistan  1957     9240934      Asia    30.332   820.853030      2
2     Afghanistan  1962    10267083      Asia    31.997   853.100710      3
3     Afghanistan  1967    11537966      Asia    34.020   836.197138      4
4     Afghanistan  1972    13079460      Asia    36.088   739.981106      5
...           ...   ...         ...       ...       ...          ...    ...
1701     Zimbabwe  1997    11404948    Africa    46.809   792.449960   1702
1702     Zimbabwe  2002    11926563    Africa    39.989   672.038623   1703
1703     Zimbabwe  2007    12311143    Africa    43.487   469.709298   1704
1705        India  2024   140000000      Asia    61.900  2000.432400    123
1706        India  2026   140000000      Asia    61.900  2000.432400  12345

[1706 rows x 7 columns]

In [91]:
df.loc[df.shape[0]]=["India",2026,140000000,"Asia",61.9,2000.4324,12345]
df

          country  year  population continent  life_exp      gdp_cap    new
0     Afghanistan  1952     8425333      Asia    28.801   779.445314      1
1     Afghanistan  1957     9240934      Asia    30.332   820.853030      2
2     Afghanistan  1962    10267083      Asia    31.997   853.100710      3
3     Afghanistan  1967    11537966      Asia    34.020   836.197138      4
4     Afghanistan  1972    13079460      Asia    36.088   739.981106      5
...           ...   ...         ...       ...       ...          ...    ...
1701     Zimbabwe  1997    11404948    Africa    46.809   792.449960   1702
1702     Zimbabwe  2002    11926563    Africa    39.989   672.038623   1703
1703     Zimbabwe  2007    12311143    Africa    43.487   469.709298   1704
1705        India  2024   140000000      Asia    61.900  2000.432400    123
1706        India  2026   140000000      Asia    61.900  2000.432400  12345

[1706 rows x 7 columns]

In [92]:
df.iloc[1707]=["India",2026,140000000,"Asia",61.9,2000.4324,12345]
df

IndexError: iloc cannot enlarge its target object

In [93]:
df.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap',
       'new'],
      dtype='object')

In [98]:
df.loc[[1702,1703],["year","country"]]

      year   country
1702  2002  Zimbabwe
1703  2007  Zimbabwe

In [100]:
df.iloc[[1,2,3,4],[0,1,2]]

       country  year  population
1  Afghanistan  1957     9240934
2  Afghanistan  1962    10267083
3  Afghanistan  1967    11537966
4  Afghanistan  1972    13079460

In [103]:
df.loc[1:10,"country":"life_exp"]

        country  year  population continent  life_exp
1   Afghanistan  1957     9240934      Asia    30.332
2   Afghanistan  1962    10267083      Asia    31.997
3   Afghanistan  1967    11537966      Asia    34.020
4   Afghanistan  1972    13079460      Asia    36.088
5   Afghanistan  1977    14880372      Asia    38.438
6   Afghanistan  1982    12881816      Asia    39.854
7   Afghanistan  1987    13867957      Asia    40.822
8   Afghanistan  1992    16317921      Asia    41.674
9   Afghanistan  1997    22227415      Asia    41.763
10  Afghanistan  2002    25268405      Asia    42.129

In [104]:
df.drop([1700,1702,1703],axis=0)

          country  year  population continent  life_exp      gdp_cap    new
0     Afghanistan  1952     8425333      Asia    28.801   779.445314      1
1     Afghanistan  1957     9240934      Asia    30.332   820.853030      2
2     Afghanistan  1962    10267083      Asia    31.997   853.100710      3
3     Afghanistan  1967    11537966      Asia    34.020   836.197138      4
4     Afghanistan  1972    13079460      Asia    36.088   739.981106      5
...           ...   ...         ...       ...       ...          ...    ...
1698     Zimbabwe  1982     7636524    Africa    60.363   788.855041   1699
1699     Zimbabwe  1987     9216418    Africa    62.351   706.157306   1700
1701     Zimbabwe  1997    11404948    Africa    46.809   792.449960   1702
1705        India  2024   140000000      Asia    61.900  2000.432400    123
1706        India  2026   140000000      Asia    61.900  2000.432400  12345

[1703 rows x 7 columns]

In [105]:
df

          country  year  population continent  life_exp      gdp_cap    new
0     Afghanistan  1952     8425333      Asia    28.801   779.445314      1
1     Afghanistan  1957     9240934      Asia    30.332   820.853030      2
2     Afghanistan  1962    10267083      Asia    31.997   853.100710      3
3     Afghanistan  1967    11537966      Asia    34.020   836.197138      4
4     Afghanistan  1972    13079460      Asia    36.088   739.981106      5
...           ...   ...         ...       ...       ...          ...    ...
1701     Zimbabwe  1997    11404948    Africa    46.809   792.449960   1702
1702     Zimbabwe  2002    11926563    Africa    39.989   672.038623   1703
1703     Zimbabwe  2007    12311143    Africa    43.487   469.709298   1704
1705        India  2024   140000000      Asia    61.900  2000.432400    123
1706        India  2026   140000000      Asia    61.900  2000.432400  12345

[1706 rows x 7 columns]

In [107]:
df.drop({"new"},axis=1,inplace=True)

In [108]:
df

          country  year  population continent  life_exp      gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801   779.445314
1     Afghanistan  1957     9240934      Asia    30.332   820.853030
2     Afghanistan  1962    10267083      Asia    31.997   853.100710
3     Afghanistan  1967    11537966      Asia    34.020   836.197138
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
...           ...   ...         ...       ...       ...          ...
1701     Zimbabwe  1997    11404948    Africa    46.809   792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989   672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487   469.709298
1705        India  2024   140000000      Asia    61.900  2000.432400
1706        India  2026   140000000      Asia    61.900  2000.432400

[1706 rows x 6 columns]

In [109]:
df.loc[df.shape[0]]=["India",2023,140000000,"Asia",61.9,2000.4324]
df.loc[df.shape[0]]=["India",2023,140000000,"Asia",61.9,2000.4324]
df.loc[df.shape[0]]=["India",2023,140000000,"Asia",61.9,2000.4324]
df.loc[df.shape[0]]=["India",2023,140000000,"Asia",61.9,2000.4324]

In [110]:
df.tail()

       country  year  population continent  life_exp      gdp_cap
1701  Zimbabwe  1997    11404948    Africa    46.809   792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989   672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487   469.709298
1705     India  2024   140000000      Asia    61.900  2000.432400
1706     India  2023   140000000      Asia    61.900  2000.432400

In [111]:
df.loc[df.shape[0]]=["India",2023,140000000,"Asia",61.9,2000.4324]
df.loc[df.shape[0]]=["Srilanka",2022,1320000,"Asia",62,2100]
df.loc[df.shape[0]]=["Srilanka",2022,1320000,"Asia",62,2100]
df.loc[df.shape[0]]=["Srilanka",2022,1320000,"Asia",62,2100]
df.loc[df.shape[0]]=["India",2023,140000000,"Asia",61.9,2000.4324]
df.loc[df.shape[0]]=["India",2023,140000000,"Asia",61.9,2000.4324]
df.loc[df.shape[0]]=["India",2023,140000000,"Asia",61.9,2000.4324]

In [112]:
df.tail(15)

       country  year  population continent  life_exp      gdp_cap
1691    Zambia  2007    11746035    Africa    42.384  1271.211593
1692  Zimbabwe  1952     3080907    Africa    48.451   406.884115
1693  Zimbabwe  1957     3646340    Africa    50.469   518.764268
1694  Zimbabwe  1962     4277736    Africa    52.358   527.272182
1695  Zimbabwe  1967     4995432    Africa    53.995   569.795071
1696  Zimbabwe  1972     5861135    Africa    55.635   799.362176
1697  Zimbabwe  1977     6642107    Africa    57.674   685.587682
1698  Zimbabwe  1982     7636524    Africa    60.363   788.855041
1699  Zimbabwe  1987     9216418    Africa    62.351   706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377   693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809   792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989   672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487   469.709298
1705     India  2024   140000000      Asia    61.900  2000.432400
1706     India  2023   140000000      Asia    61.900  2000.432400

In [113]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1701    False
1702    False
1703    False
1705    False
1706    False
Length: 1706, dtype: bool

In [114]:
df.tail(20)

       country  year  population continent  life_exp      gdp_cap
1686    Zambia  1982     6100407    Africa    51.821  1408.678565
1687    Zambia  1987     7272406    Africa    50.821  1213.315116
1688    Zambia  1992     8381163    Africa    46.100  1210.884633
1689    Zambia  1997     9417789    Africa    40.238  1071.353818
1690    Zambia  2002    10595811    Africa    39.193  1071.613938
1691    Zambia  2007    11746035    Africa    42.384  1271.211593
1692  Zimbabwe  1952     3080907    Africa    48.451   406.884115
1693  Zimbabwe  1957     3646340    Africa    50.469   518.764268
1694  Zimbabwe  1962     4277736    Africa    52.358   527.272182
1695  Zimbabwe  1967     4995432    Africa    53.995   569.795071
1696  Zimbabwe  1972     5861135    Africa    55.635   799.362176
1697  Zimbabwe  1977     6642107    Africa    57.674   685.587682
1698  Zimbabwe  1982     7636524    Africa    60.363   788.855041
1699  Zimbabwe  1987     9216418    Africa    62.351   706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377   693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809   792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989   672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487   469.709298
1705     India  2024   140000000      Asia    61.900  2000.432400
1706     India  2023   140000000      Asia    61.900  2000.432400

In [115]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1701    False
1702    False
1703    False
1705    False
1706    False
Length: 1706, dtype: bool

In [116]:
df.loc[df.shape[0]]=["India",2023,140000000,"Asia",61.9,2000.4324]
df.loc[df.shape[0]]=["India",2023,140000000,"Asia",61.9,2000.4324]
df.loc[df.shape[0]]=["India",2023,140000000,"Asia",61.9,2000.4324]
df.loc[df.shape[0]]=["India",2023,140000000,"Asia",61.9,2000.4324]

In [117]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1701    False
1702    False
1703    False
1705    False
1706    False
Length: 1706, dtype: bool

In [118]:
df.tail()

       country  year  population continent  life_exp      gdp_cap
1701  Zimbabwe  1997    11404948    Africa    46.809   792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989   672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487   469.709298
1705     India  2024   140000000      Asia    61.900  2000.432400
1706     India  2023   140000000      Asia    61.900  2000.432400

In [119]:
df.loc[df.shape[0]]=["India",2023,140000000,"Asia",61.9,2000.4324]

In [120]:
df

          country  year  population continent  life_exp      gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801   779.445314
1     Afghanistan  1957     9240934      Asia    30.332   820.853030
2     Afghanistan  1962    10267083      Asia    31.997   853.100710
3     Afghanistan  1967    11537966      Asia    34.020   836.197138
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
...           ...   ...         ...       ...       ...          ...
1701     Zimbabwe  1997    11404948    Africa    46.809   792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989   672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487   469.709298
1705        India  2024   140000000      Asia    61.900  2000.432400
1706        India  2023   140000000      Asia    61.900  2000.432400

[1706 rows x 6 columns]

In [121]:
df.loc[df.shape[0]]=["India",2023,140000000,"Asia",61.9,2000.4324]

In [122]:
df

          country  year  population continent  life_exp      gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801   779.445314
1     Afghanistan  1957     9240934      Asia    30.332   820.853030
2     Afghanistan  1962    10267083      Asia    31.997   853.100710
3     Afghanistan  1967    11537966      Asia    34.020   836.197138
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
...           ...   ...         ...       ...       ...          ...
1701     Zimbabwe  1997    11404948    Africa    46.809   792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989   672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487   469.709298
1705        India  2024   140000000      Asia    61.900  2000.432400
1706        India  2023   140000000      Asia    61.900  2000.432400

[1706 rows x 6 columns]

In [123]:
df.shape[0]

1706

In [124]:
df.loc[df.shape[0]]=["USA",2023,140000000,"Asia",61.9,2000.4324]

In [125]:
df

          country  year  population continent  life_exp      gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801   779.445314
1     Afghanistan  1957     9240934      Asia    30.332   820.853030
2     Afghanistan  1962    10267083      Asia    31.997   853.100710
3     Afghanistan  1967    11537966      Asia    34.020   836.197138
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
...           ...   ...         ...       ...       ...          ...
1701     Zimbabwe  1997    11404948    Africa    46.809   792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989   672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487   469.709298
1705        India  2024   140000000      Asia    61.900  2000.432400
1706          USA  2023   140000000      Asia    61.900  2000.432400

[1706 rows x 6 columns]

In [126]:
df.shape[0]

1706

In [1]:
ls

06_Probability_Distributions_1/
07_Pandas_1/
07_Probability_Distributions_2/
DV.ipynb
NPS.ipynb
Numpy Airbnb NPS final .ipynb
Pandas Revision.ipynb
Pandas final cut.ipynb
Pfizer_1.csv
Python Lib Rivision.ipynb
SQL/
These Are the 25 Smartest Dog Breeds, According to Science.jpeg
Think Stats, 2nd Edition_ Exploratory Data Analysis ( PDFDrive ).pdf
Untitled.ipynb
clouds-2627945.jpg
directors.csv
figure.png
final_vg.csv
fit.txt
gapminder.csv
jupyterthemes.ipynb
mckinsey.csv
movies.csv
prob_01_basic_definitions/
storytelling-with-data-cole-nussbaumer-knaflic.pdf
survey.txt

In [3]:
import pandas as pd
df=pd.read_csv("gapminder.csv")
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [4]:
df.shape[0]

1704

In [5]:
df.loc[df.shape[0]]=["USA",2023,140000000,"Asia",61.9,2000.4324]
df.loc[df.shape[0]]=["USA",2023,140000000,"Asia",61.9,2000.4324]
df.loc[df.shape[0]]=["USA",2023,140000000,"Asia",61.9,2000.4324]
df.loc[df.shape[0]]=["USA",2023,140000000,"Asia",61.9,2000.4324]

In [6]:
df

          country  year  population continent  life_exp      gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801   779.445314
1     Afghanistan  1957     9240934      Asia    30.332   820.853030
2     Afghanistan  1962    10267083      Asia    31.997   853.100710
3     Afghanistan  1967    11537966      Asia    34.020   836.197138
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
...           ...   ...         ...       ...       ...          ...
1703     Zimbabwe  2007    12311143    Africa    43.487   469.709298
1704          USA  2023   140000000      Asia    61.900  2000.432400
1705          USA  2023   140000000      Asia    61.900  2000.432400
1706          USA  2023   140000000      Asia    61.900  2000.432400
1707          USA  2023   140000000      Asia    61.900  2000.432400

[1708 rows x 6 columns]

In [7]:
df.shape[0]

1708

In [12]:
df.index.values

array([   0,    1,    2, ..., 1705, 1706, 1707])

In [13]:
ls

06_Probability_Distributions_1/
07_Pandas_1/
07_Probability_Distributions_2/
DV.ipynb
NPS.ipynb
Numpy Airbnb NPS final .ipynb
Pandas Revision.ipynb
Pandas final cut.ipynb
Pfizer_1.csv
Python Lib Rivision.ipynb
SQL/
These Are the 25 Smartest Dog Breeds, According to Science.jpeg
Think Stats, 2nd Edition_ Exploratory Data Analysis ( PDFDrive ).pdf
Untitled.ipynb
clouds-2627945.jpg
directors.csv
figure.png
final_vg.csv
fit.txt
gapminder.csv
jupyterthemes.ipynb
mckinsey.csv
movies.csv
prob_01_basic_definitions/
storytelling-with-data-cole-nussbaumer-knaflic.pdf
survey.txt

In [14]:
df

          country  year  population continent  life_exp      gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801   779.445314
1     Afghanistan  1957     9240934      Asia    30.332   820.853030
2     Afghanistan  1962    10267083      Asia    31.997   853.100710
3     Afghanistan  1967    11537966      Asia    34.020   836.197138
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
...           ...   ...         ...       ...       ...          ...
1703     Zimbabwe  2007    12311143    Africa    43.487   469.709298
1704          USA  2023   140000000      Asia    61.900  2000.432400
1705          USA  2023   140000000      Asia    61.900  2000.432400
1706          USA  2023   140000000      Asia    61.900  2000.432400
1707          USA  2023   140000000      Asia    61.900  2000.432400

[1708 rows x 6 columns]

In [15]:
df.shape[0]

1708

In [18]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1703    False
1704    False
1705     True
1706     True
1707     True
Length: 1708, dtype: bool

In [19]:
df.duplicated().tail()

1703    False
1704    False
1705     True
1706     True
1707     True
dtype: bool

In [20]:
df.loc[df.duplicated()]

     country  year  population continent  life_exp    gdp_cap
1705     USA  2023   140000000      Asia      61.9  2000.4324
1706     USA  2023   140000000      Asia      61.9  2000.4324
1707     USA  2023   140000000      Asia      61.9  2000.4324

In [21]:
df.loc[df.duplicated()].index.values

array([1705, 1706, 1707])

In [22]:
df.duplicated(subset=["country"])

0       False
1        True
2        True
3        True
4        True
        ...
1703     True
1704    False
1705     True
1706     True
1707     True
Length: 1708, dtype: bool

In [23]:
df.duplicated(subset=["country","year"])

0       False
1       False
2       False
3       False
4       False
        ...
1703    False
1704    False
1705     True
1706     True
1707     True
Length: 1708, dtype: bool

In [24]:
df.loc[df.duplicated(subset=["country","year"])]

     country  year  population continent  life_exp    gdp_cap
1705     USA  2023   140000000      Asia      61.9  2000.4324
1706     USA  2023   140000000      Asia      61.9  2000.4324
1707     USA  2023   140000000      Asia      61.9  2000.4324

In [25]:
df.drop_duplicates(keep="first")

          country  year  population continent  life_exp      gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801   779.445314
1     Afghanistan  1957     9240934      Asia    30.332   820.853030
2     Afghanistan  1962    10267083      Asia    31.997   853.100710
3     Afghanistan  1967    11537966      Asia    34.020   836.197138
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
...           ...   ...         ...       ...       ...          ...
1700     Zimbabwe  1992    10704340    Africa    60.377   693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809   792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989   672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487   469.709298
1704          USA  2023   140000000      Asia    61.900  2000.432400

[1705 rows x 6 columns]

In [26]:
df.drop_duplicates(keep="last")

          country  year  population continent  life_exp      gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801   779.445314
1     Afghanistan  1957     9240934      Asia    30.332   820.853030
2     Afghanistan  1962    10267083      Asia    31.997   853.100710
3     Afghanistan  1967    11537966      Asia    34.020   836.197138
4     Afghanistan  1972    13079460      Asia    36.088   739.981106
...           ...   ...         ...       ...       ...          ...
1700     Zimbabwe  1992    10704340    Africa    60.377   693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809   792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989   672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487   469.709298
1707          USA  2023   140000000      Asia    61.900  2000.432400

[1705 rows x 6 columns]

In [27]:
df.drop_duplicates(keep=False)

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [28]:
df.drop_duplicates(keep=True)

ValueError: keep must be either "first", "last" or False

In [29]:
df.drop_duplicates(subset=["country"],keep="first")

                 country  year  population continent  life_exp      gdp_cap
0            Afghanistan  1952     8425333      Asia    28.801   779.445314
12               Albania  1952     1282697    Europe    55.230  1601.056136
24               Algeria  1952     9279525    Africa    43.077  2449.008185
36                Angola  1952     4232095    Africa    30.015  3520.610273
48             Argentina  1952    17876956  Americas    62.485  5911.315053
...                  ...   ...         ...       ...       ...          ...
1656  West Bank and Gaza  1952     1030585      Asia    43.160  1515.592329
1668         Yemen, Rep.  1952     4963829      Asia    32.548   781.717576
1680              Zambia  1952     2672000    Africa    42.038  1147.388831
1692            Zimbabwe  1952     3080907    Africa    48.451   406.884115
1704                 USA  2023   140000000      Asia    61.900  2000.432400

[143 rows x 6 columns]